openapi: 3.2.0
info:
  version: v2
  title: Dome9. Gcp Service Account API
servers:
- url: https://api.dome9.com
tags:
- name: GcpServiceAccount
  type: Unclassified
paths:
  /v2/GcpServiceAccount/{id}:
    get:
      tags:
      - GcpServiceAccount
      operationId: GcpServiceAccount_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountViewModel'
      summary: Gcp service account get
      x-summary-source: derived
  /v2/GcpServiceAccount:
    get:
      tags:
      - GcpServiceAccount
      operationId: GcpServiceAccount_GetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountViewModel'
      summary: Gcp service account get all
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountViewModel:
      type: object
      properties:
        displayName:
          type: string
        email:
          format: email
          description: Email Address
          type: string
          example: MyName@gmail.com
        oauth2ClientId:
          type: string
        projectId:
          type: string
        uniqueId:
          type: string
        keys:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountKeyViewModel'
        id:
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
    Dome9.Web.Api.Google.ServiceAccount.GcpServiceAccountKeyViewModel:
      type: object
      properties:
        keyAlgorithm:
          type: string
        name:
          type: string
        privateKeyData:
          type: string
        privateKeyType:
          type: string
        publicKeyData:
          type: string
        validAfterTime:
          format: date-time
          type: string
        validBeforeTime:
          format: date-time
          type: string
        eTag:
          type: string
        managedBy:
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
