openapi: 3.2.0
info:
  version: v2
  title: Dome9. Cloud Kms API
servers:
- url: https://api.dome9.com
tags:
- name: CloudKms
  type: Unclassified
paths:
  /v2/CloudKms:
    get:
      tags:
      - CloudKms
      operationId: CloudKms_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.CloudKmsViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.CloudKmsViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.CloudKmsViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.CloudKmsViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.CloudKmsViewModel'
      summary: Cloud kms get
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.CloudKms.AwsMultiRegionKeyViewModel:
      type: object
      properties:
        arn:
          type: string
        region:
          type: string
    Dome9.Web.Api.CloudKms.CloudKmsViewModel:
      type: object
      properties:
        id:
          description: Id
          type: string
          readOnly: true
        externalId:
          description: ExternalId
          type: string
          readOnly: true
        name:
          description: Name
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          description: AccountId
          type: integer
          readOnly: true
        externalAccountNumber:
          description: External account number
          type: string
        arn:
          type: string
        metadata:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.CloudKmsKeyMetadataViewModel'
        rotationStatus:
          type: boolean
        keyRotation:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.KmsRotationViewModel'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.CloudKmsPolicyViewModel'
        alias:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.CloudKmsAliasViewModel'
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.CloudKms.CloudKmsKeyMetadataViewModel:
      type: object
      properties:
        arn:
          description: 'Gets and sets the property Arn.

            The Amazon Resource Name (ARN) of the CMK. For examples, see AWS Key Management

            Service (AWS KMS) in the Example ARNs section of the AWS General Reference.'
          type: string
        awsAccountId:
          description: 'Gets and sets the property AWSAccountId.

            The twelve-digit account ID of the AWS account that owns the CMK.'
          type: string
        creationDate:
          format: date-time
          description: 'Gets and sets the property CreationDate.

            The date and time when the CMK was created.'
          type: string
        deletionDate:
          format: date-time
          description: 'Gets and sets the property DeletionDate.

            The date and time after which AWS KMS deletes the CMK. This value is present

            only when KeyState is PendingDeletion, otherwise this value is omitted.'
          type: string
        description:
          description: 'Gets and sets the property Description.

            The description of the CMK.'
          type: string
        enabled:
          description: 'Gets and sets the property Enabled.

            Specifies whether the CMK is enabled. When KeyState is Enabled this value

            is true, otherwise it is false.'
          type: boolean
        expirationModel:
          description: 'Gets and sets the property ExpirationModel.

            Specifies whether the CMK''s key material expires. This value is present only

            when Origin is EXTERNAL, otherwise this value is omitted.'
          type: string
        keyId:
          description: 'Gets and sets the property KeyId.

            The globally unique identifier for the CMK.'
          type: string
        keyState:
          description: 'Gets and sets the property KeyState.

            The state of the CMK.

            For more information about how key state affects the use of a CMK, see How

            Key State Affects the Use of a Customer Master Key in the AWS Key Management

            Service Developer Guide.'
          type: string
        keyUsage:
          description: 'Gets and sets the property KeyUsage.

            The cryptographic operations for which you can use the CMK. Currently the

            only allowed value is ENCRYPT_DECRYPT, which means you can use the CMK for

            the Encrypt and Decrypt operations.'
          type: string
        origin:
          description: 'Gets and sets the property Origin.

            The source of the CMK''s key material. When this value is AWS_KMS, AWS KMS

            created the key material. When this value is EXTERNAL, the key material was

            imported from your existing key management infrastructure or the CMK lacks

            key material.'
          type: string
        validTo:
          format: date-time
          description: 'Gets and sets the property ValidTo.

            The time at which the imported key material expires. When the key material

            expires, AWS KMS deletes the key material and the CMK becomes unusable. This

            value is present only for CMKs whose Origin is EXTERNAL and whose ExpirationModel

            is KEY_MATERIAL_EXPIRES, otherwise this value is omitted.'
          type: string
        customerMasterKeySpec:
          type: string
        keyManager:
          type: string
        multiRegion:
          type: boolean
        multiRegionConfiguration:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.AwsMultiRegionConfigurationViewModel'
    Dome9.Web.Api.CloudKms.CloudKmsPolicyViewModel:
      type: object
      properties:
        name:
          type: string
        document:
          type: object
    Dome9.Web.Api.CloudKms.KmsRotationViewModel:
      type: object
      properties:
        keyRotationEnabled:
          type: boolean
        nextRotationDate:
          format: date-time
          type: string
        onDemandRotationStartDate:
          format: date-time
          type: string
        rotationPeriodInDays:
          format: int32
          type: integer
    Dome9.Web.Api.CloudKms.AwsMultiRegionConfigurationViewModel:
      type: object
      properties:
        type:
          type: string
        primaryKey:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.AwsMultiRegionKeyViewModel'
        replicaKeys:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.AwsMultiRegionKeyViewModel'
    Dome9.Web.Api.CloudKms.CloudKmsAliasViewModel:
      type: object
      properties:
        id:
          description: Id
          type: string
          readOnly: true
        externalId:
          description: ExternalId
          type: string
          readOnly: true
        name:
          description: Name
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          description: AccountId
          type: integer
          readOnly: true
        arn:
          description: ARN
          type: string
        externalAccountNumber:
          description: External account number
          type: string
        targetKeyId:
          description: Target key ID
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
