openapi: 3.2.0
info:
  version: v2
  title: Dome9. Gcp Security Group API
servers:
- url: https://api.dome9.com
tags:
- name: GcpSecurityGroup
  type: Unclassified
paths:
  /v2/GcpSecurityGroup/{ExternalId}:
    get:
      tags:
      - GcpSecurityGroup
      summary: get Gcp Security Group by external id
      operationId: GcpSecurityGroup_Get
      parameters:
      - name: ExternalId
        in: path
        description: external id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Google.SecurityGroup.GcpSecurityGroupViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Google.SecurityGroup.GcpSecurityGroupViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Google.SecurityGroup.GcpSecurityGroupViewModel'
  /v2/GcpSecurityGroup:
    get:
      tags:
      - GcpSecurityGroup
      summary: get all Gcp Security Groups for account
      operationId: GcpSecurityGroup_GetAll
      parameters:
      - name: cloudAccountId
        in: query
        description: cloud account id (to get security groups off a specific cloud account)
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.SecurityGroup.GcpSecurityGroupViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.SecurityGroup.GcpSecurityGroupViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.SecurityGroup.GcpSecurityGroupViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.SecurityGroup.GcpSecurityGroupViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.SecurityGroup.GcpSecurityGroupViewModel'
components:
  schemas:
    Dome9.Web.Api.Google.Instance.GcpVMInstanceViewModel:
      type: object
      properties:
        canIpForward:
          type: boolean
        cpuPlatform:
          type: string
        externalId:
          type: string
        creationTimestamp:
          type: string
        description:
          type: string
        disks:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.Instance.GcpComputeAttachedDiskViewModel'
        machineType:
          type: string
        sourceMachineImage:
          type: string
        networkInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.Instance.NetworkInterfaceViewModel'
        status:
          type: string
        statusMessage:
          type: string
        networkTags:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.TagViewModel'
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.TagViewModel'
        zone:
          type: string
        region:
          type: string
        isRunning:
          type: boolean
          readOnly: true
        isBillable:
          type: boolean
          readOnly: true
        id:
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
    Dome9.Web.Api.Google.Instance.GcpComputeInstanceCustomerEncryptionKeyViewModel:
      type: object
      properties:
        eTag:
          type: string
        rawKey:
          type: string
        sha256:
          type: string
        kmsKeyName:
          type: string
    Dome9.Web.Api.Google.SecurityGroup.GcpSecurityGroupViewModel:
      type: object
      properties:
        network:
          type: string
        externalId:
          type: string
        inboundRules:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.SecurityGroup.GcpServiceRuleViewModel'
        outboundRules:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.SecurityGroup.GcpServiceRuleViewModel'
        vmInstances:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.Instance.GcpVMInstanceViewModel'
        id:
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
    Dome9.Web.Api.Shared.SharedViewModels.TagViewModel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Dome9.Web.Api.Google.Instance.GcpComputeGuestOsFeatureViewModel:
      type: object
      properties:
        type:
          type: string
        eTag:
          type: string
    Dome9.Web.Api.Google.SecurityGroup.GcpServiceRuleViewModel:
      type: object
      properties:
        name:
          type: string
        enabled:
          type: boolean
        description:
          type: string
        number:
          format: int32
          type: integer
        protocol:
          type: string
        source:
          type: string
        destination:
          type: string
        destinationPort:
          format: int32
          type: integer
        destinationPortTo:
          format: int32
          type: integer
        direction:
          type: string
        action:
          type: string
    Dome9.Web.Api.Google.Instance.GcpComputeAttachedDiskViewModel:
      type: object
      properties:
        autoDelete:
          type: boolean
        deviceName:
          type: string
        guestOsFeatures:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.Instance.GcpComputeGuestOsFeatureViewModel'
        eTag:
          type: string
        interface:
          type: string
        kind:
          type: string
        licenses:
          type: array
          items:
            type: string
        mode:
          type: string
        source:
          type: string
        type:
          type: string
        diskEncryptionType:
          type: string
        diskEncryptionTypeMetadata:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.Instance.GcpComputeDiskEncryptionTypeMetadataViewModel'
        diskEncryptionKey:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.Instance.GcpComputeInstanceCustomerEncryptionKeyViewModel'
        initializeParams:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.Instance.GcpComputeAttachedDiskInitializeParamsViewModel'
        id:
          type: string
    Dome9.Web.Api.Google.Instance.GcpComputeDiskEncryptionTypeMetadataViewModel:
      type: object
      properties:
        isGoogleManagedKey:
          type: boolean
          readOnly: true
        isCustomerManagedKey:
          type: boolean
          readOnly: true
        isCustomerSuppliedKey:
          type: boolean
          readOnly: true
    Dome9.Web.Api.Google.Instance.GcpComputeCustomerEncryptionKeyViewModel:
      type: object
      properties:
        kmsKeyName:
          type: string
        rawKey:
          type: string
        sha256:
          type: string
        eTag:
          type: string
    Dome9.Web.Api.Google.Instance.NetworkInterfaceViewModel:
      type: object
      properties:
        name:
          type: string
        network:
          type: string
        networkIP:
          type: string
        subnetwork:
          type: string
        publicIP:
          type: string
    Dome9.Web.Api.Google.Instance.GcpComputeAttachedDiskInitializeParamsViewModel:
      type: object
      properties:
        diskName:
          type: string
        diskSizeGb:
          format: int64
          type: integer
        diskType:
          type: string
        sourceImage:
          type: string
        sourceImageEncryptionKey:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.Instance.GcpComputeCustomerEncryptionKeyViewModel'
        eTag:
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
