openapi: 3.2.0
info:
  version: v2
  title: Dome9. Agent API
servers:
- url: https://api.dome9.com
tags:
- name: Agent
  type: Unclassified
paths:
  /api/Agent/{id}/sec-groups:
    post:
      tags:
      - Agent
      operationId: Agent_AttachGroupToAgent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
        required: true
      summary: Agent attach group to agent
      x-summary-source: derived
    delete:
      tags:
      - Agent
      operationId: Agent_DetachGroupFromAgent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
        required: true
      summary: Agent detach group from agent
      x-summary-source: derived
  /v2/Agent/{id}/sec-groups:
    post:
      tags:
      - Agent
      operationId: Agent_AttachGroupToAgent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
        required: true
      summary: Agent attach group to agent
      x-summary-source: derived
    delete:
      tags:
      - Agent
      operationId: Agent_DetachGroupFromAgent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel'
        required: true
      summary: Agent detach group from agent
      x-summary-source: derived
  /api/Agent/{id}/start-fim-scan:
    post:
      tags:
      - Agent
      operationId: Agent_StartFIMScan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      summary: Agent start FIM scan
      x-summary-source: derived
  /v2/Agent/{id}/start-fim-scan:
    post:
      tags:
      - Agent
      operationId: Agent_StartFIMScan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      summary: Agent start FIM scan
      x-summary-source: derived
  /v2/Agent:
    get:
      tags:
      - Agent
      operationId: Agent_GetAll
      parameters:
      - name: forAccess
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentViewModel'
      summary: Agent get all
      x-summary-source: derived
  /v2/Agent/{id}:
    get:
      tags:
      - Agent
      operationId: Agent_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentViewModel'
      summary: Agent get
      x-summary-source: derived
    delete:
      tags:
      - Agent
      operationId: Agent_DeleteAgent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
      summary: Agent delete agent
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.Models.AgentCloudMetadataViewModel:
      type: object
      properties:
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        externalAccountNumber:
          type: string
        externalInstanceId:
          type: string
        instanceType:
          type: string
    Dome9.Web.Api.Models.AgentAccessServiceViewModel:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        port:
          type: string
        protocol:
          enum:
          - ALL
          - HOPOPT
          - ICMP
          - IGMP
          - GGP
          - IPV4
          - ST
          - TCP
          - CBT
          - EGP
          - IGP
          - BBN_RCC_MON
          - NVP2
          - PUP
          - ARGUS
          - EMCON
          - XNET
          - CHAOS
          - UDP
          - MUX
          - DCN_MEAS
          - HMP
          - PRM
          - XNS_IDP
          - TRUNK1
          - TRUNK2
          - LEAF1
          - LEAF2
          - RDP
          - IRTP
          - ISO_TP4
          - NETBLT
          - MFE_NSP
          - MERIT_INP
          - DCCP
          - ThreePC
          - IDPR
          - XTP
          - DDP
          - IDPR_CMTP
          - TPplusplus
          - IL
          - IPV6
          - SDRP
          - IPV6_ROUTE
          - IPV6_FRAG
          - IDRP
          - RSVP
          - GRE
          - DSR
          - BNA
          - ESP
          - AH
          - I_NLSP
          - SWIPE
          - NARP
          - MOBILE
          - TLSP
          - SKIP
          - ICMPV6
          - IPV6_NONXT
          - IPV6_OPTS
          - CFTP
          - SAT_EXPAK
          - KRYPTOLAN
          - RVD
          - IPPC
          - SAT_MON
          - VISA
          - IPCV
          - CPNX
          - CPHB
          - WSN
          - PVP
          - BR_SAT_MON
          - SUN_ND
          - WB_MON
          - WB_EXPAK
          - ISO_IP
          - VMTP
          - SECURE_VMTP
          - VINES
          - TTP
          - NSFNET_IGP
          - DGP
          - TCF
          - EIGRP
          - OSPFIGP
          - SPRITE_RPC
          - LARP
          - MTP
          - AX25
          - IPIP
          - MICP
          - SCC_SP
          - ETHERIP
          - ENCAP
          - GMTP
          - IFMP
          - PNNI
          - PIM
          - ARIS
          - SCPS
          - QNX
          - AN
          - IPCOMP
          - SNP
          - COMPAQ_PEER
          - IPX_IN_IP
          - VRRP
          - PGM
          - L2TP
          - DDX
          - IATP
          - STP
          - SRP
          - UTI
          - SMP
          - SM
          - PTP
          - ISIS
          - FIRE
          - CRTP
          - CRUDP
          - SSCOPMCE
          - IPLT
          - SPS
          - PIPE
          - SCTP
          - FC
          - RSVP_E2E_IGNORE
          - MOBILITY_HEADER
          - UDPLITE
          - MPLS_IN_IP
          - MANET
          - HIP
          - SHIM6
          - WESP
          - ROHC
          type: string
        normallyOpen:
          type: boolean
        id:
          type: string
        serverId:
          format: int64
          type: integer
        allowedIps:
          type: array
          items:
            type: string
    Dome9.Web.Api.Models.AgentFimStatusViewModel:
      type: object
      properties:
        scannerState:
          enum:
          - PendingForBaseline
          - CreatingBaseline
          - PendingForScan
          - Scanning
          - Idle
          type: string
        scanRequested:
          format: date-time
          type: string
        baseLineCounter:
          format: int32
          type: integer
        lastScanStarted:
          format: date-time
          type: string
        lastScanEnded:
          format: date-time
          type: string
    Dome9.Web.Api.Models.AgentViewModel:
      type: object
      properties:
        id:
          format: int64
          description: Id of the Dome9 agent
          type: integer
        name:
          description: Name of this Agent (server)
          type: string
        securityGroupIds:
          description: List of Id of the Dome9 Security Groups that this agent is assigned to
          type: array
          items:
            format: int64
            type: integer
        fimPolicyId:
          format: int64
          description: 'The Id of the security group inheriting FIM policy to this agent.

            0 if no Fim policy is assigned to this agent'
          type: integer
        status:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentStatusViewModel'
        cloudMetadata:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentCloudMetadataViewModel'
        fimStatus:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentFimStatusViewModel'
        accessPolicy:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AgentAccessServiceViewModel'
        fimDisabled:
          type: boolean
    Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel:
      type: object
      properties:
        groupid:
          format: int32
          type: integer
    Dome9.Web.Api.Models.AgentStatusViewModel:
      type: object
      properties:
        reportedIp:
          type: string
        platform:
          enum:
          - Windows
          - Linux
          - GenericLinux
          type: string
        osVersion:
          type: string
        lastAgentContact:
          format: date-time
          type: string
        agentState:
          enum:
          - Unknown
          - Accessible
          - Offline
          type: string
        agentVersion:
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
