openapi: 3.2.0
info:
  version: v2
  title: Dome9. Cloud Iam Account Summary API
servers:
- url: https://api.dome9.com
tags:
- name: Cloud Iam Account Summary
  type: InventoryAwsIam
paths:
  /v2/CloudIamAccountSummary:
    get:
      tags:
      - Cloud Iam Account Summary
      operationId: CloudIamAccountSummary_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamAccountSummary.CloudIamAccountSummaryViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamAccountSummary.CloudIamAccountSummaryViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamAccountSummary.CloudIamAccountSummaryViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamAccountSummary.CloudIamAccountSummaryViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamAccountSummary.CloudIamAccountSummaryViewModel'
      summary: Cloud iam account summary get
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.CloudIamAccountSummary.CloudIamAccountSummaryViewModel:
      type: object
      properties:
        id:
          description: Id
          type: string
          readOnly: true
        externalId:
          description: ExternalId
          type: string
          readOnly: true
        name:
          description: Name
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          description: AccountId
          type: integer
          readOnly: true
        externalAccountNumber:
          description: External account number
          type: string
        summaryMap:
          description: Summary map
          type: object
          additionalProperties:
            format: int32
            type: integer
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
