openapi: 3.2.0
info:
  version: v2
  title: Dome9. Azure Route Table API
servers:
- url: https://api.dome9.com
tags:
- name: Azure Route Table
  type: InventoryAzure
paths:
  /v2/AzureRouteTable:
    get:
      tags:
      - Azure Route Table
      operationId: AzureRouteTable_GetAsync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
      summary: Azure route table get async
      x-summary-source: derived
  /v2/AzureRouteTable/{id}:
    get:
      tags:
      - Azure Route Table
      operationId: AzureRouteTable_GetAsync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
      summary: Azure route table get async
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.Azure.RouteTable.AzureRouteViewModel:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        etag:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        addressPrefix:
          type: string
          readOnly: true
        nextHopIpAddress:
          type: string
          readOnly: true
        nextHopType:
          type: string
          readOnly: true
        provisioningState:
          type: string
          readOnly: true
    Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        location:
          type: string
          readOnly: true
        tags:
          type: object
          additionalProperties:
            type: string
          readOnly: true
        routes:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteViewModel'
        subnets:
          type: array
          items:
            type: string
          readOnly: true
        disableBgpRoutePropagation:
          type: boolean
          readOnly: true
        provisioningState:
          type: string
          readOnly: true
        etag:
          type: string
          readOnly: true
        resourceGroup:
          type: string
          readOnly: true
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
