openapi: 3.2.0
info:
  version: v2
  title: Dome9. Cloud Iam Credential Report API
servers:
- url: https://api.dome9.com
tags:
- name: Cloud Iam Credential Report
  type: InventoryAwsIam
paths:
  /v2/CloudIamCredentialReport/user:
    get:
      tags:
      - Cloud Iam Credential Report
      operationId: CloudIamCredentialReport_GetUser
      parameters:
      - name: cloudAccountId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: userName
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserViewModel'
      summary: Cloud iam credential report get user
      x-summary-source: derived
  /v2/CloudIamCredentialReport:
    get:
      tags:
      - Cloud Iam Credential Report
      operationId: CloudIamCredentialReport_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportViewModel'
      summary: Cloud iam credential report get
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportViewModel:
      type: object
      properties:
        id:
          description: Id
          type: string
          readOnly: true
        externalId:
          description: ExternalId
          type: string
          readOnly: true
        name:
          description: Name
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          description: AccountId
          type: integer
          readOnly: true
        externalAccountNumber:
          description: External account number
          type: string
        content:
          description: 'Gets and sets the property Content.

            Contains the credential report. The report is Base64-encoded.'
          type: string
        generatedTime:
          format: date-time
          description: 'Gets and sets the property GeneratedTime.

            The date and time when the credential report was created, in ISO 8601 date-time

            format.'
          type: string
        reportFormat:
          description: 'Gets and sets the property ReportFormat.

            The format (MIME type) of the credential report.'
          type: string
        users:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserViewModel'
    Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserAccessKeyViewModel:
      type: object
      properties:
        isActive:
          type: boolean
        lastRotated:
          format: date-time
          type: string
        lastUsedDate:
          format: date-time
          type: string
        lastUsedRegion:
          type: string
        lastUsedService:
          type: string
    Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserViewModel:
      type: object
      properties:
        user:
          type: string
        arn:
          type: string
        userCreationTime:
          format: date-time
          type: string
        passwordEnabled:
          type: boolean
        passwordLastUsed:
          format: date-time
          type: string
        passwordLastChanged:
          format: date-time
          type: string
        passwordNextRotation:
          format: date-time
          type: string
        mfaActive:
          type: boolean
        firstAccessKey:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserAccessKeyViewModel'
        secondAccessKey:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserAccessKeyViewModel'
        firstCertificate:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserCertificateViewModel'
        secondCertificate:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserCertificateViewModel'
    Dome9.Web.Api.CloudIamCredentialReport.CloudIamCredentialReportUserCertificateViewModel:
      type: object
      properties:
        isActive:
          type: boolean
        lastRotated:
          format: date-time
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
