openapi: 3.2.0
info:
  version: v2
  title: Dome9. Aws Eks API
servers:
- url: https://api.dome9.com
tags:
- name: Aws Eks
  type: InventoryAwsComputeAndContainers
paths:
  /v2/AwsEks/GetByCloudAccount:
    get:
      tags:
      - Aws Eks
      operationId: AwsEks_GetByCloudAccount
      parameters:
      - name: cloudAccountId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
      summary: Aws eks get by cloud account
      x-summary-source: derived
  /v2/AwsEks:
    get:
      tags:
      - Aws Eks
      operationId: AwsEks_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
      summary: Aws eks get
      x-summary-source: derived
  /v2/AwsEks/{id}:
    get:
      tags:
      - Aws Eks
      operationId: AwsEks_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel'
      summary: Aws eks get
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.NodegroupScalingConfigViewModel:
      type: object
      properties:
        desiredSize:
          format: int32
          type: integer
        maxSize:
          format: int32
          type: integer
        minSize:
          format: int32
          type: integer
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.OidcViewModel:
      type: object
      properties:
        issuer:
          type: string
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.IdentityViewModel:
      type: object
      properties:
        oidc:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.OidcViewModel'
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.ResourcesVpcConfigViewModel:
      type: object
      properties:
        clusterSecurityGroupId:
          type: string
        endpointPrivateAccess:
          type: boolean
        endpointPublicAccess:
          type: boolean
        publicAccessCidrs:
          type: array
          items:
            type: string
        securityGroupIds:
          type: array
          items:
            type: string
        subnetIds:
          type: array
          items:
            type: string
        vpcId:
          type: string
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.FargateProfileSelectorViewModel:
      type: object
      properties:
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.TagViewModel'
        namespace:
          type: string
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.NodegroupResourcesViewModel:
      type: object
      properties:
        autoScalingGroups:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.AutoScalingGroupViewModel'
        remoteAccessSecurityGroup:
          type: string
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.NodegroupHealthViewModel:
      type: object
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.IssueViewModel'
    Dome9.Web.Api.Shared.SharedViewModels.TagViewModel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.AutoScalingGroupViewModel:
      type: object
      properties:
        name:
          type: string
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.LoggingLogSetupViewModel:
      type: object
      properties:
        enabled:
          type: boolean
        types:
          type: array
          items:
            type: string
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.NodeGroupViewModel:
      type: object
      properties:
        subnets:
          type: array
          items:
            type: string
        status:
          type: string
        scalingConfig:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.NodegroupScalingConfigViewModel'
        resources:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.NodegroupResourcesViewModel'
        remoteAccess:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.RemoteAccessConfigViewModel'
        releaseVersion:
          type: string
        nodeRole:
          type: string
        nodegroupName:
          type: string
        nodegroupArn:
          type: string
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.TagViewModel'
        instanceTypes:
          type: array
          items:
            type: string
        health:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.NodegroupHealthViewModel'
        diskSize:
          format: int32
          type: integer
        createdAt:
          format: date-time
          type: string
        clusterName:
          type: string
        amiType:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.TagViewModel'
        version:
          type: string
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.LoggingViewModel:
      type: object
      properties:
        clusterLogging:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.LoggingLogSetupViewModel'
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.FargateProfileViewModel:
      type: object
      properties:
        clusterName:
          type: string
        createdAt:
          format: date-time
          type: string
        fargateProfileArn:
          type: string
        fargateProfileName:
          type: string
        podExecutionRoleArn:
          type: string
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.FargateProfileSelectorViewModel'
        status:
          type: string
        subnets:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.TagViewModel'
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.RemoteAccessConfigViewModel:
      type: object
      properties:
        ec2SshKey:
          type: string
        sourceSecurityGroups:
          type: array
          items:
            type: string
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.IssueViewModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        resourceIds:
          type: array
          items:
            type: string
    Dome9.Web.Api.AwsEks.AwsEksClusterViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          type: integer
        arn:
          type: string
        createdAt:
          format: date-time
          type: string
        endpoint:
          type: string
        identity:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.IdentityViewModel'
        logging:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.LoggingViewModel'
        clusterName:
          type: string
        resourcesVpcConfig:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.ResourcesVpcConfigViewModel'
        roleArn:
          type: string
        status:
          type: string
        version:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.TagViewModel'
        nodeGroups:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.NodeGroupViewModel'
        fargateProfiles:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel.FargateProfileViewModel'
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
