openapi: 3.2.0
info:
  title: Dome9 / CloudGuard AWSAccounts Roles API
  description: Dome9 (now Check Point CloudGuard) REST API for managing cloud accounts, security policies, compliance findings, roles, and users across AWS, Azure, and Google Cloud. Endpoints derived from public CloudGuard developer hub documentation at https://docs.cgn.portal.checkpoint.com/ — best-effort, not exhaustive. Uses HTTP Basic authentication where the username is the API key id and the password is the API key secret.
  version: '2'
  contact:
    name: Check Point CloudGuard
    url: https://www.checkpoint.com/cloudguard/
  license:
    name: Proprietary
servers:
- url: https://api.dome9.com
  description: Dome9 / CloudGuard production
security:
- BasicAuth: []
tags:
- name: Roles
paths:
  /v2/role:
    get:
      tags:
      - Roles
      summary: List roles
      operationId: listRoles
      responses:
        '200':
          description: OK
    post:
      tags:
      - Roles
      summary: Create role
      operationId: createRole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Created
  /v2/role/{id}:
    put:
      tags:
      - Roles
      summary: Update role
      operationId: updateRole
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Roles
      summary: Delete role
      operationId: deleteRole
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username = API key id and password = API key secret.
