openapi: 3.1.0
info:
  title: Dome9 / CloudGuard AWSAccounts AzureAccounts API
  description: Dome9 (now Check Point CloudGuard) REST API for managing cloud accounts, security policies, compliance findings, roles, and users across AWS, Azure, and Google Cloud. Endpoints derived from public CloudGuard developer hub documentation at https://docs.cgn.portal.checkpoint.com/ — best-effort, not exhaustive. Uses HTTP Basic authentication where the username is the API key id and the password is the API key secret.
  version: '2'
  contact:
    name: Check Point CloudGuard
    url: https://www.checkpoint.com/cloudguard/
  license:
    name: Proprietary
servers:
- url: https://api.dome9.com
  description: Dome9 / CloudGuard production
security:
- BasicAuth: []
tags:
- name: AzureAccounts
paths:
  /v2/azurecloudaccount:
    get:
      tags:
      - AzureAccounts
      summary: List Azure cloud accounts
      operationId: listAzureAccounts
      responses:
        '200':
          description: OK
    post:
      tags:
      - AzureAccounts
      summary: Onboard Azure cloud account
      operationId: createAzureAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Created
  /v2/azurecloudaccount/{id}:
    get:
      tags:
      - AzureAccounts
      summary: Get Azure cloud account
      operationId: getAzureAccount
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
    delete:
      tags:
      - AzureAccounts
      summary: Delete Azure cloud account
      operationId: deleteAzureAccount
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username = API key id and password = API key secret.
