openapi: 3.1.0
info:
  title: Dome9 / CloudGuard AWSAccounts Users API
  description: Dome9 (now Check Point CloudGuard) REST API for managing cloud accounts, security policies, compliance findings, roles, and users across AWS, Azure, and Google Cloud. Endpoints derived from public CloudGuard developer hub documentation at https://docs.cgn.portal.checkpoint.com/ — best-effort, not exhaustive. Uses HTTP Basic authentication where the username is the API key id and the password is the API key secret.
  version: '2'
  contact:
    name: Check Point CloudGuard
    url: https://www.checkpoint.com/cloudguard/
  license:
    name: Proprietary
servers:
- url: https://api.dome9.com
  description: Dome9 / CloudGuard production
security:
- BasicAuth: []
tags:
- name: Users
paths:
  /v2/user:
    get:
      tags:
      - Users
      summary: List users
      operationId: listUsers
      responses:
        '200':
          description: OK
    post:
      tags:
      - Users
      summary: Create user
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                firstName:
                  type: string
                lastName:
                  type: string
                ssoEnabled:
                  type: boolean
      responses:
        '201':
          description: Created
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username = API key id and password = API key secret.
