openapi: 3.2.0
info:
  version: v2
  title: Dome9. Azure Virtual Machine API
servers:
- url: https://api.dome9.com
tags:
- name: Azure Virtual Machine
  type: InventoryAzure
paths:
  /v2/AzureVirtualMachine:
    get:
      tags:
      - Azure Virtual Machine
      operationId: AzureVirtualMachine_Get
      parameters:
      - name: cloudAccountId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureVirtualMachineViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureVirtualMachineViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureVirtualMachineViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureVirtualMachineViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureVirtualMachineViewModel'
      summary: Azure virtual machine get
      x-summary-source: derived
  /v2/AzureVirtualMachine/{id}:
    get:
      tags:
      - Azure Virtual Machine
      operationId: AzureVirtualMachine_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureVirtualMachineViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureVirtualMachineViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureVirtualMachineViewModel'
      summary: Azure virtual machine get
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeDataDiskViewModel:
      type: object
      properties:
        lun:
          format: int32
          type: integer
        name:
          type: string
        vhd:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeVirtualHardDiskViewModel'
        image:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeVirtualHardDiskViewModel'
        caching:
          type: string
        writeAcceleratorEnabled:
          type: boolean
        createOption:
          type: string
        diskSizeGB:
          format: int32
          type: integer
        managedDisk:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeManagedDiskParametersViewModel'
        toBeDetached:
          type: boolean
        diskIOPSReadWrite:
          format: int32
          type: integer
        diskMBpsReadWrite:
          format: int32
          type: integer
        detachOption:
          type: string
        deleteOption:
          type: string
    CGN.Inventory.Azure.Model.WrapperModels.Compute.VirtualMachineDiskEncryptionSettings:
      type: object
      properties:
        diskEncryptionKey:
          type: string
        keyEncryptionKey:
          type: string
        enabled:
          type: boolean
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeDiskEncryptionSetParametersViewModel:
      type: object
      properties:
        id:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureNicIpConfigurationViewModel:
      type: object
      properties:
        isPrimary:
          type: boolean
        privateIPAddressVersion:
          type: string
        name:
          type: string
        publicIPAddress:
          type: string
        publicIPAllocationMethod:
          enum:
          - Unallocated
          - Dynamic
          - Static
          type: string
        dnsName:
          type: string
        privateIPAddress:
          type: string
        privateIPAllocationMethod:
          enum:
          - Unallocated
          - Dynamic
          - Static
          type: string
        subnet:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeOSDiskViewModel:
      type: object
      properties:
        osType:
          type: string
        encryptionSettings:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeDiskEncryptionSettingsViewModel'
        name:
          type: string
        vhd:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeVirtualHardDiskViewModel'
        image:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeVirtualHardDiskViewModel'
        caching:
          type: string
        writeAcceleratorEnabled:
          type: boolean
        diffDiskSettings:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeDiffDiskSettingsViewModel'
        createOption:
          type: string
        diskSizeGB:
          format: int32
          type: integer
        managedDisk:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeManagedDiskParametersViewModel'
        deleteOption:
          type: string
    Dome9.Web.Api.Models.AzureVirtualMachineViewModel:
      type: object
      properties:
        externalId:
          type: string
        id:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        virtualNetworkId:
          type: string
        virtualNetworkName:
          type: string
        isRunning:
          type: boolean
        agent:
          $ref: '#/components/schemas/CGN.Inventory.Azure.Model.WrapperModels.Compute.VirtualMachineAgent'
        disks:
          type: array
          items:
            $ref: '#/components/schemas/CGN.Inventory.Azure.Model.WrapperModels.Compute.VirtualMachineDisk'
        networkInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureNetworkInterfaceViewModel'
        operatingSystem:
          type: string
        size:
          type: string
        machineImage:
          $ref: '#/components/schemas/CGN.Inventory.Azure.Model.WrapperModels.Compute.MachineImage'
        virtualHardDiskUri:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        isBillable:
          type: boolean
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.VirtualMachineExtensionViewModel'
        availabilityZones:
          type: array
          items:
            type: string
        vmId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        timeCreated:
          format: date-time
          type: string
        storageProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeStorageProfileViewModel'
    Dome9.Web.Api.Models.VirtualMachineExtensionViewModel:
      type: object
      properties:
        forceUpdateTag:
          type: string
        publisher:
          type: string
        virtualMachineExtensionType:
          type: string
        typeHandlerVersion:
          type: string
        autoUpgradeMinorVersion:
          type: boolean
        provisioningState:
          type: string
        status:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeManagedDiskParametersViewModel:
      type: object
      properties:
        storageAccountType:
          type: string
        diskEncryptionSet:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeDiskEncryptionSetParametersViewModel'
        securityProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeVMDiskSecurityProfileViewModel'
        id:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeSubResourceViewModel:
      type: object
      properties:
        id:
          type: string
    Dome9.Web.Api.Models.AzureNetworkInterfaceDnsSettingsViewModel:
      type: object
      properties:
        appliedDNSServers:
          type: array
          items:
            type: string
        dnsServers:
          type: array
          items:
            type: string
        internalDNSNameLabel:
          type: string
        internalFQDN:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeVirtualHardDiskViewModel:
      type: object
      properties:
        uri:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeDiskEncryptionSettingsViewModel:
      type: object
      properties:
        diskEncryptionKey:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeKeyVaultSecretReferenceViewModel'
        keyEncryptionKey:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeKeyVaultKeyReferenceViewModel'
        enabled:
          type: boolean
    Dome9.Web.Api.Models.AzureNetworkInterfaceViewModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        dnsSettings:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureNetworkInterfaceDnsSettingsViewModel'
        ipConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureNicIpConfigurationViewModel'
        subnet:
          type: string
        enableIPForwarding:
          type: boolean
        primary:
          type: boolean
        macAddress:
          type: string
        networkSecurityGroup:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeStorageProfileViewModel:
      type: object
      properties:
        imageReference:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeImageReferenceViewModel'
        osDisk:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeOSDiskViewModel'
        dataDisks:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeDataDiskViewModel'
        diskControllerType:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeImageReferenceViewModel:
      type: object
      properties:
        publisher:
          type: string
        offer:
          type: string
        sku:
          type: string
        version:
          type: string
        exactVersion:
          type: string
        sharedGalleryImageId:
          type: string
        communityGalleryImageId:
          type: string
        id:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeKeyVaultSecretReferenceViewModel:
      type: object
      properties:
        secretUrl:
          type: string
        sourceVault:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeSubResourceViewModel'
    CGN.Inventory.Azure.Model.WrapperModels.Compute.MachineImage:
      type: object
      properties:
        id:
          type: string
        offer:
          type: string
        publisher:
          type: string
        sku:
          type: string
        version:
          type: string
        exactVersion:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeKeyVaultKeyReferenceViewModel:
      type: object
      properties:
        keyUrl:
          type: string
        sourceVault:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeSubResourceViewModel'
    CGN.Inventory.Azure.Model.WrapperModels.Compute.VirtualMachineStatus:
      type: object
      properties:
        code:
          type: string
        displayStatus:
          type: string
        level:
          type: string
        message:
          type: string
        time:
          format: date-time
          type: string
    CGN.Inventory.Azure.Model.WrapperModels.Compute.VirtualMachineDisk:
      type: object
      properties:
        name:
          type: string
        status:
          $ref: '#/components/schemas/CGN.Inventory.Azure.Model.WrapperModels.Compute.VirtualMachineStatus'
        encryptionSettings:
          type: array
          items:
            $ref: '#/components/schemas/CGN.Inventory.Azure.Model.WrapperModels.Compute.VirtualMachineDiskEncryptionSettings'
    CGN.Inventory.Azure.Model.WrapperModels.Compute.VirtualMachineAgent:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/CGN.Inventory.Azure.Model.WrapperModels.Compute.VirtualMachineStatus'
        vmAgentVersion:
          type: string
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeVMDiskSecurityProfileViewModel:
      type: object
      properties:
        securityEncryptionType:
          type: string
        diskEncryptionSet:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachines.AzureComputeDiskEncryptionSetParametersViewModel'
    Dome9.Web.Api.Azure.VirtualMachines.AzureComputeDiffDiskSettingsViewModel:
      type: object
      properties:
        option:
          type: string
        placement:
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
