openapi: 3.2.0
info:
  version: v2
  title: Dome9. Azure Key Vault API
servers:
- url: https://api.dome9.com
tags:
- name: Azure Key Vault
  type: InventoryAzure
paths:
  /v2/AzureKeyVault:
    get:
      tags:
      - Azure Key Vault
      operationId: AzureKeyVault_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel'
      summary: Azure key vault get
      x-summary-source: derived
  /v2/AzureKeyVault/{id}:
    get:
      tags:
      - Azure Key Vault
      operationId: AzureKeyVault_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel'
      summary: Azure key vault get
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.Azure.DiagnosticSettings.DiagnosticSettingsViewModel:
      type: object
      properties:
        id:
          type: string
        eventHubAuthorizationRuleId:
          type: string
        eventHubName:
          type: string
        logs:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.DiagnosticSettings.LogAuditViewModel'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.DiagnosticSettings.MetricAuditViewModel'
        storageAccount:
          type: string
        workspaceId:
          type: string
    Dome9.Web.Api.Azure.DiagnosticSettings.MetricAuditViewModel:
      type: object
      properties:
        category:
          type: string
        enabled:
          type: boolean
        retentionDays:
          format: int32
          type: integer
        retentionStatus:
          type: boolean
        timeGrain:
          type: string
    Dome9.Web.Api.Azure.KeyVault.CertificateViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        x509Thumbprint:
          type: string
        certificatePolicy:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.CertificatePolicyViewModel'
        created:
          format: date-time
          type: string
        enabled:
          type: boolean
        expires:
          format: date-time
          type: string
        notBefore:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
        identifier:
          type: string
        name:
          type: string
        version:
          type: string
    Dome9.Web.Api.Azure.KeyVault.PropertiesViewModel:
      type: object
      properties:
        enabledForDeployment:
          type: boolean
        enabledForDiskEncryption:
          type: boolean
        enabledForTemplateDeployment:
          type: boolean
        enableSoftDelete:
          type: boolean
        sku:
          type: string
        vaultUri:
          type: string
        tenantId:
          type: string
        accessPolicies:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AccessPolicyViewModel'
    Dome9.Web.Api.Azure.KeyVault.CertificatePolicyLifeTimeActionViewModel:
      type: object
      properties:
        action:
          type: string
        trigger:
          type: string
        lifeTimeValue:
          type: string
    Dome9.Web.Api.Azure.KeyVault.CertificatePolicyX509PropertiesViewModel:
      type: object
      properties:
        ekus:
          type: array
          items:
            type: string
        keyUsage:
          type: array
          items:
            type: string
        subject:
          type: string
        dnsNames:
          type: array
          items:
            type: string
    Dome9.Web.Api.Azure.KeyVault.CertificatePolicyKeyPropertiesViewModel:
      type: object
      properties:
        exportable:
          type: boolean
        keySize:
          format: int32
          type: integer
        keyType:
          type: string
        reuseKey:
          type: boolean
    Dome9.Web.Api.Azure.DiagnosticSettings.LogAuditViewModel:
      type: object
      properties:
        category:
          type: string
        categoryGroup:
          type: string
        enabled:
          type: boolean
        retentionDays:
          format: int32
          type: integer
        retentionStatus:
          type: boolean
    Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.PropertiesViewModel'
        keys:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.KeyViewModel'
        secrets:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.SecretViewModel'
        certificates:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.CertificateViewModel'
        diagnosticSettings:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.DiagnosticSettings.DiagnosticSettingsViewModel'
    Dome9.Web.Api.Azure.KeyVault.SecretViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        managed:
          type: boolean
        contentType:
          type: string
        created:
          format: date-time
          type: string
        enabled:
          type: boolean
        expires:
          format: date-time
          type: string
        notBefore:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
        identifier:
          type: string
        name:
          type: string
        version:
          type: string
    Dome9.Web.Api.Azure.KeyVault.PermissionsViewModel:
      type: object
      properties:
        certificates:
          type: array
          items:
            type: string
        keys:
          type: array
          items:
            type: string
        secrets:
          type: array
          items:
            type: string
        storage:
          type: array
          items:
            type: string
    Dome9.Web.Api.Azure.KeyVault.AccessPolicyViewModel:
      type: object
      properties:
        applicationId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        objectId:
          type: string
        tenantId:
          type: string
        permissions:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.PermissionsViewModel'
    Dome9.Web.Api.Azure.KeyVault.CertificatePolicyViewModel:
      type: object
      properties:
        issuerName:
          type: string
        certificateType:
          type: string
        keyProperties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.CertificatePolicyKeyPropertiesViewModel'
        lifeTimeActions:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.CertificatePolicyLifeTimeActionViewModel'
        secretContentType:
          type: string
        x509CertificateProperties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.CertificatePolicyX509PropertiesViewModel'
    Dome9.Web.Api.Azure.KeyVault.KeyViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        kid:
          type: string
        managed:
          type: boolean
        created:
          format: date-time
          type: string
        enabled:
          type: boolean
        expires:
          format: date-time
          type: string
        notBefore:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
        identifier:
          type: string
        name:
          type: string
        version:
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
