openapi: 3.2.0
info:
  version: v2
  title: Dome9. Gcp Storage Bucket API
servers:
- url: https://api.dome9.com
tags:
- name: GcpStorageBucket
  type: Unclassified
paths:
  /v2/GcpStorageBucket/{id}:
    get:
      tags:
      - GcpStorageBucket
      operationId: GcpStorageBucket_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpStorageBucketViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpStorageBucketViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpStorageBucketViewModel'
      summary: Gcp storage bucket get
      x-summary-source: derived
  /v2/GcpStorageBucket:
    get:
      tags:
      - GcpStorageBucket
      operationId: GcpStorageBucket_GetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpStorageBucketViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpStorageBucketViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpStorageBucketViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpStorageBucketViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpStorageBucketViewModel'
      summary: Gcp storage bucket get all
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.Google.StorageBucket.GcpCorsDataViewModel:
      type: object
      properties:
        maxAgeSeconds:
          format: int32
          type: integer
        method:
          type: array
          items:
            type: string
        origin:
          type: array
          items:
            type: string
        responseHeader:
          type: array
          items:
            type: string
    Dome9.Web.Api.Google.StorageBucket.GcpIamConfigurationDataViewModel.GcpUniformBucketLevelAccessDataViewModel:
      type: object
      properties:
        enabled:
          type: boolean
        lockedTimeRaw:
          type: string
        lockedTime:
          format: date-time
          type: string
    Dome9.Web.Api.Google.StorageBucket.GcpBillingDataViewModel:
      type: object
      properties:
        requesterPays:
          type: boolean
    Dome9.Web.Api.Google.StorageBucket.GcpIamConfigurationDataViewModel:
      type: object
      properties:
        bucketPolicyOnly:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpIamConfigurationDataViewModel.GcpBucketPolicyOnlyDataViewModel'
        uniformBucketLevelAccess:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpIamConfigurationDataViewModel.GcpUniformBucketLevelAccessDataViewModel'
        publicAccessPrevention:
          type: string
    Dome9.Web.Api.Google.StorageBucket.GcpRuleDataViewModel:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpRuleDataViewModel.GcpActionDataViewModel'
        condition:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpRuleDataViewModel.GcpConditionDataViewModel'
    Dome9.Web.Api.Google.StorageBucket.GcpIamConfigurationDataViewModel.GcpBucketPolicyOnlyDataViewModel:
      type: object
      properties:
        enabled:
          type: boolean
        lockedTimeRaw:
          type: string
        lockedTime:
          format: date-time
          type: string
    Dome9.Web.Api.Google.StorageBucket.GcpWebsiteDataViewModel:
      type: object
      properties:
        mainPageSuffix:
          type: string
        notFoundPage:
          type: string
    Dome9.Web.Api.Google.StorageBucket.GcpRuleDataViewModel.GcpConditionDataViewModel:
      type: object
      properties:
        age:
          format: int32
          type: integer
        createdBefore:
          type: string
        isLive:
          type: boolean
        matchesStorageClass:
          type: array
          items:
            type: string
        numNewerVersions:
          format: int32
          type: integer
    Dome9.Web.Api.Google.StorageBucket.GcpVersioningDataViewModel:
      type: object
      properties:
        enabled:
          type: boolean
    Dome9.Web.Api.Google.StorageBucket.GcpAccessControlViewModel:
      type: object
      properties:
        bucket:
          type: string
        domain:
          type: string
        email:
          format: email
          description: Email Address
          type: string
          example: MyName@gmail.com
        entity:
          type: string
        entityId:
          type: string
        eTag:
          type: string
        generation:
          format: int64
          type: integer
        id:
          type: string
        kind:
          type: string
        object__:
          type: string
        projectTeam:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpProjectTeamDataViewModel'
        role:
          type: string
        selfLink:
          type: string
    Falconetix.Model.Google.ApiWrapperModels.GoogleCloudResourceUri:
      type: object
      properties:
        address:
          type: string
        projectId:
          description: https://www.googleapis.com/compute/v1/projects/[project-id]/....
          type: string
        resourceName:
          description: 'https://www.googleapis.com/compute/v1/projects/dome9-144807/global/networks/...

            returns the last segment of the uri'
          type: string
    Dome9.Web.Api.Google.StorageBucket.GcpRetentionPolicyDataViewModel:
      type: object
      properties:
        effectiveTimeRaw:
          type: string
        effectiveTime:
          format: date-time
          type: string
        isLocked:
          type: boolean
        retentionPeriod:
          format: int64
          type: integer
    Dome9.Web.Api.Google.StorageBucket.GcpOwnerDataViewModel:
      type: object
      properties:
        entity:
          type: string
        entityId:
          type: string
    Falconetix.Model.GcpStorageBucketCustomPlacementConfig:
      type: object
      properties:
        dataLocations:
          type: array
          items:
            type: string
    Dome9.Web.Api.Google.StorageBucket.GcpLoggingDataViewModel:
      type: object
      properties:
        logBucket:
          type: string
        logObjectPrefix:
          type: string
    Dome9.Web.Api.Google.StorageBucket.GcpProjectTeamDataViewModel:
      type: object
      properties:
        projectNumber:
          type: string
        team:
          type: string
    Dome9.Web.Api.Google.StorageBucket.GcpLifecycleDataViewModel:
      type: object
      properties:
        rule:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpRuleDataViewModel'
    Dome9.Web.Api.Google.StorageBucket.GcpStorageBucketViewModel:
      type: object
      properties:
        acl:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpAccessControlViewModel'
        billing:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpBillingDataViewModel'
        cors:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpCorsDataViewModel'
        defaultObjectAcl:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpAccessControlViewModel'
        defaultKmsKeyName:
          type: string
        eTag:
          type: string
        kind:
          type: string
        region:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
        lifecycle:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpLifecycleDataViewModel'
        location:
          type: string
        logging:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpLoggingDataViewModel'
        metageneration:
          format: int64
          type: integer
        owner:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpOwnerDataViewModel'
        projectNumber:
          format: int64
          type: integer
        selfLink:
          $ref: '#/components/schemas/Falconetix.Model.Google.ApiWrapperModels.GoogleCloudResourceUri'
        storageClass:
          type: string
        timeCreatedRaw:
          type: string
        timeCreated:
          format: date-time
          type: string
        updatedRaw:
          type: string
        updated:
          format: date-time
          type: string
        versioning:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpVersioningDataViewModel'
        website:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpWebsiteDataViewModel'
        defaultEventBasedHold:
          type: boolean
        iamConfiguration:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpIamConfigurationDataViewModel'
        retentionPolicy:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.StorageBucket.GcpRetentionPolicyDataViewModel'
        locationType:
          type: string
        customPlacementConfig:
          $ref: '#/components/schemas/Falconetix.Model.GcpStorageBucketCustomPlacementConfig'
        satisfiesPZS:
          type: boolean
        rpo:
          type: string
        id:
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
    Dome9.Web.Api.Google.StorageBucket.GcpRuleDataViewModel.GcpActionDataViewModel:
      type: object
      properties:
        storageClass:
          type: string
        type:
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
