openapi: 3.1.0
info:
  title: Dome9 / CloudGuard AWSAccounts API
  description: Dome9 (now Check Point CloudGuard) REST API for managing cloud accounts, security policies, compliance findings, roles, and users across AWS, Azure, and Google Cloud. Endpoints derived from public CloudGuard developer hub documentation at https://docs.cgn.portal.checkpoint.com/ — best-effort, not exhaustive. Uses HTTP Basic authentication where the username is the API key id and the password is the API key secret.
  version: '2'
  contact:
    name: Check Point CloudGuard
    url: https://www.checkpoint.com/cloudguard/
  license:
    name: Proprietary
servers:
- url: https://api.dome9.com
  description: Dome9 / CloudGuard production
security:
- BasicAuth: []
tags:
- name: AWSAccounts
paths:
  /v2/cloudaccounts:
    get:
      tags:
      - AWSAccounts
      summary: List AWS cloud accounts
      operationId: listAwsCloudAccounts
      responses:
        '200':
          description: OK
    post:
      tags:
      - AWSAccounts
      summary: Add a new AWS cloud account
      operationId: createAwsCloudAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCloudAccountCreate'
      responses:
        '201':
          description: Created
  /v2/cloudaccounts/{id}:
    get:
      tags:
      - AWSAccounts
      summary: Get AWS cloud account by id
      operationId: getAwsCloudAccount
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
    delete:
      tags:
      - AWSAccounts
      summary: Delete AWS cloud account
      operationId: deleteAwsCloudAccount
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Deleted
components:
  schemas:
    AwsCloudAccountCreate:
      type: object
      required:
      - name
      - credentials
      properties:
        name:
          type: string
        externalAccountNumber:
          type: string
        credentials:
          type: object
          properties:
            arn:
              type: string
            secret:
              type: string
            type:
              type: string
              enum:
              - RoleBased
              - UserBased
        fullProtection:
          type: boolean
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with username = API key id and password = API key secret.
