openapi: 3.2.0
info:
  version: v2
  title: Dome9. Aws Backup Vault API
servers:
- url: https://api.dome9.com
tags:
- name: Aws Backup Vault
  type: InventoryAwsStorage
paths:
  /v2/AwsBackupVault:
    get:
      tags:
      - Aws Backup Vault
      operationId: AwsBackupVault_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsBackupVault.AwsBackupVaultViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsBackupVault.AwsBackupVaultViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsBackupVault.AwsBackupVaultViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsBackupVault.AwsBackupVaultViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsBackupVault.AwsBackupVaultViewModel'
      summary: Aws backup vault get
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.AwsBackupVault.AwsBackupVaultViewModel:
      type: object
      properties:
        backupVaultArn:
          type: string
        backupVaultName:
          type: string
        creationDate:
          format: int64
          type: integer
        creatorRequestId:
          type: string
        encryptionKeyArn:
          type: string
        lockDate:
          format: int64
          type: integer
        locked:
          type: boolean
        maxRetentionDays:
          format: int32
          type: integer
        minRetentionDays:
          format: int32
          type: integer
        numberOfRecoveryPoints:
          format: int32
          type: integer
        accessPolicy:
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
