openapi: 3.2.0
info:
  version: v2
  title: Dome9. Finding API
  description: Compliance Findings
servers:
- url: https://api.dome9.com
tags:
- name: Finding
  description: Compliance Findings
  type: Events
paths:
  /v2/Compliance/Finding/stats/aggregatedbyproperty:
    get:
      tags:
      - Finding
      summary: Get aggregation per property
      operationId: Finding_GetStatsByProperty
      parameters:
      - name: fromDateTime
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: toDateTime
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: origin
        in: query
        required: true
        schema:
          type: string
          enum:
          - ComplianceEngine
          - Magellan
          - MagellanAwsGuardDuty
          - Serverless
          - Agentless
          - AwsInspector
          - ServerlessSecurityAnalyzer
          - ExternalFindingSource
          - Qualys
          - Tenable
          - AwsGuardDuty
          - KubernetesImageScanning
          - KubernetesRuntimeAssurance
          - ContainersRuntimeProtection
          - WorkloadChangeMonitoring
          - ImageAssurance
          - SourceCodeAssurance
          - InfrastructureAsCode
          - CIEM
          - Incident
      - name: aggProperty
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingsStatsBySeverityViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingsStatsBySeverityViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingsStatsBySeverityViewModel'
  /v2/Compliance/Finding/bundle/{bundleId}/stats:
    get:
      tags:
      - Finding
      summary: Get statistics for each rule in a bundle (number failures)
      operationId: Finding_GetBundleStats
      parameters:
      - name: bundleId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingsStatsViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingsStatsViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingsStatsViewModel'
  /v2/Compliance/Finding/bundle/{bundleId}:
    get:
      tags:
      - Finding
      summary: Get the findings for a specific rule in a bundle, for all of the user's…
      operationId: Finding_GetFindings
      parameters:
      - name: bundleId
        in: path
        description: the bundle id
        required: true
        schema:
          type: integer
          format: int64
      - name: ruleLogicHash
        in: query
        description: MD5 hash of the rule GSL string
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: the findings page (findings are returned in pages, with pageSize findings in each page)
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: the number of findings in a page
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BaseFindingViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BaseFindingViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BaseFindingViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BaseFindingViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BaseFindingViewModel'
  /v2/Compliance/Finding/{id}:
    get:
      tags:
      - Finding
      summary: Get details for a specific finding, identified by its id
      operationId: Finding_GetFinding
      parameters:
      - name: id
        in: path
        description: the finding id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
    delete:
      tags:
      - Finding
      summary: Delete finding originated in Magellan by id (Guid)
      operationId: Finding_DeleteAsync
      parameters:
      - name: id
        in: path
        description: Finding ID (Guid)
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v2/Compliance/Finding/getByKey:
    post:
      tags:
      - Finding
      summary: Get details for a specific finding, identified by finding key
      operationId: Finding_GetFindingByKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.GetFindingByKeyViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.GetFindingByKeyViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.GetFindingByKeyViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.GetFindingByKeyViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.GetFindingByKeyViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.GetFindingByKeyViewModel'
        description: finding key
        required: true
  /v2/Compliance/Finding/archive/{id}:
    delete:
      tags:
      - Finding
      summary: Delete finding originated in Magellan by id (Guid)
      operationId: Finding_DeleteAsync
      parameters:
      - name: id
        in: path
        description: Finding ID (Guid)
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v2/Compliance/Finding/bulk/close:
    post:
      tags:
      - Finding
      summary: Delete findings originated in Magellan by ids (Guid)
      operationId: Finding_BulkDeleteAsync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
          text/json:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
          text/html:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
          application/xml:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
          text/xml:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
        description: Finding IDs list (Guid)
        required: true
  /v2/Compliance/Finding/bulk/archive/close:
    post:
      tags:
      - Finding
      summary: Delete findings originated in Magellan by ids (Guid)
      operationId: Finding_BulkDeleteAsync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
          text/json:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
          text/html:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
          application/xml:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
          text/xml:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
        description: Finding IDs list (Guid)
        required: true
  /v2/Compliance/Finding/selectAll/close:
    post:
      tags:
      - Finding
      summary: Filter findings by account, region, VPC, IP, instance name..
      operationId: Finding_SelectAllClose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
        description: the filter selections - which findings to close
        required: true
  /v2/Compliance/Finding/selectAll/archive/close:
    post:
      tags:
      - Finding
      summary: Filter findings by account, region, VPC, IP, instance name..
      operationId: Finding_SelectAllClose
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType'
        description: the filter selections - which findings to close
        required: true
  /v2/Compliance/Finding/search:
    post:
      tags:
      - Finding
      summary: Filter findings by account, region, VPC, IP, or instance name
      operationId: Finding_Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
        description: the filter selections
        required: true
  /v2/Compliance/Finding/searchAggregate:
    post:
      tags:
      - Finding
      summary: Filter findings by account, region, VPC, IP, or instance name , returns only…
      operationId: Finding_SearchAggregate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
        description: the filter selections
        required: true
  /v2/Compliance/Finding/Sources:
    get:
      tags:
      - Finding
      summary: returns all the supported sources and their metadata
      operationId: Finding_GetSupportedSources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingController.FindingSourceViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingController.FindingSourceViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingController.FindingSourceViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingController.FindingSourceViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingController.FindingSourceViewModel'
  /v2/Compliance/Finding/{id}/acknowledge:
    put:
      tags:
      - Finding
      summary: Acknowledge a finding.
      operationId: Finding_Acknowledge
      parameters:
      - name: id
        in: path
        description: the finding id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
        description: updated information about the finding, including the acknowledgement
        required: true
  /v2/Compliance/Finding/bulk/acknowledge:
    put:
      tags:
      - Finding
      operationId: Finding_BulkAcknowledge
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
        required: true
      summary: Finding bulk acknowledge
      x-summary-source: derived
  /v2/Compliance/Finding/selectAll/acknowledge:
    put:
      tags:
      - Finding
      summary: Filter findings by account, region, VPC, IP, instance name..
      operationId: Finding_SelectAllAcknowledge
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
        description: the filter selections and updated information about the findings, including the acknowledgement
        required: true
  /v2/Compliance/Finding/{id}/severity:
    put:
      tags:
      - Finding
      summary: Change the severity of a specific finding
      operationId: Finding_ChangeSeverity
      parameters:
      - name: id
        in: path
        description: the finding id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
        description: updated information about the finding, including the new severity
        required: true
  /v2/Compliance/Finding/bulk/severity:
    put:
      tags:
      - Finding
      operationId: Finding_BulkSeverity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
        required: true
      summary: Finding bulk severity
      x-summary-source: derived
  /v2/Compliance/Finding/selectAll/severity:
    put:
      tags:
      - Finding
      summary: Filter findings by account, region, VPC, IP, instance name..
      operationId: Finding_SelectAllSeverity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
        description: the filter selections and updated information about the findings, including the new severity
        required: true
  /v2/Compliance/Finding/{id}/assign:
    put:
      tags:
      - Finding
      summary: Assign a finding to a user
      operationId: Finding_Assign
      parameters:
      - name: id
        in: path
        description: the finding id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
        description: updated information about the finding, including the assigned user
        required: true
  /v2/Compliance/Finding/bulk/assign:
    put:
      tags:
      - Finding
      operationId: Finding_BulkAssign
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
        required: true
      summary: Finding bulk assign
      x-summary-source: derived
  /v2/Compliance/Finding/selectAll/assign:
    put:
      tags:
      - Finding
      summary: Filter findings by account, region, VPC, IP, instance name..
      operationId: Finding_SelectAllAssign
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
        description: the filter selections and updated information about the findings, including the assigned user
        required: true
  /v2/Compliance/Finding/{id}/comment:
    post:
      tags:
      - Finding
      summary: Add a comment for a finding
      operationId: Finding_AddComment
      parameters:
      - name: id
        in: path
        description: the finding id (or key)
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
        description: updated information about the finding, including the comment
        required: true
  /v2/Compliance/Finding/bulk/comment:
    put:
      tags:
      - Finding
      operationId: Finding_BulkComment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
        required: true
      summary: Finding bulk comment
      x-summary-source: derived
  /v2/Compliance/Finding/selectAll/comment:
    put:
      tags:
      - Finding
      summary: Filter findings by account, region, VPC, IP, instance name..
      operationId: Finding_SelectAllComment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
        description: the filter selections and updated the findings comment
        required: true
  /v2/Compliance/Finding/{id}/archive:
    post:
      tags:
      - Finding
      summary: Archive/unarchive a specific finding
      operationId: Finding_Archive
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
  /v2/Compliance/Finding/{id}/unarchive:
    post:
      tags:
      - Finding
      summary: Archive/unarchive a specific finding
      operationId: Finding_Archive
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
  /v2/Compliance/Finding/bulk/archive:
    put:
      tags:
      - Finding
      summary: Bulk archive/unarchive findings
      operationId: Finding_BulkArchive
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
        required: true
  /v2/Compliance/Finding/bulk/unarchive:
    put:
      tags:
      - Finding
      summary: Bulk archive/unarchive findings
      operationId: Finding_BulkArchive
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
        required: true
  /v2/Compliance/Finding/comment:
    post:
      tags:
      - Finding
      summary: Add a comment for a finding
      operationId: Finding_AddCommentByFindingKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentByFindingKeyViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentByFindingKeyViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentByFindingKeyViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentByFindingKeyViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentByFindingKeyViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentByFindingKeyViewModel'
        description: updated information about the finding, including the comment and the finding key
        required: true
  /v2/Compliance/Finding/origins:
    get:
      tags:
      - Finding
      operationId: Finding_GetOrigins
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingController.AssessmentFindingOriginProperties'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingController.AssessmentFindingOriginProperties'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingController.AssessmentFindingOriginProperties'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingController.AssessmentFindingOriginProperties'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingController.AssessmentFindingOriginProperties'
      summary: Finding get origins
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.Compliance.Finding.FieldAggregationViewModel:
      type: object
      properties:
        value:
          type: object
        count:
          format: int64
          type: integer
    Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel:
      type: object
      properties:
        ids:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        details:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel'
    Dome9.Web.Api.Shared.SharedViewModels.DateRangeViewModel:
      type: object
      properties:
        from:
          format: date-time
          type: string
        to:
          format: date-time
          type: string
    Dome9.Web.Api.Compliance.Finding.BaseFindingViewModel:
      type: object
      properties:
        id:
          format: uuid
          description: finding id
          type: string
          example: 00000000-0000-0000-0000-000000000000
        findingKey:
          description: finding key
          type: string
        createdTime:
          format: date-time
          description: date finding was first found
          type: string
        updatedTime:
          format: date-time
          description: date of last update for the finding
          type: string
        cloudAccountType:
          description: cloud account provider (AWS/Azure/GCP)
          enum:
          - Aws
          - Azure
          - Google
          - Kubernetes
          - Terraform
          - Generic
          - KubernetesRuntimeAssurance
          - ShiftLeft
          - SourceCodeAssurance
          - ImageAssurance
          - Alibaba
          - Cft
          - ContainerRegistry
          - Oci
          - CIEM
          type: string
        comments:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingCommentViewModel'
        cloudAccountId:
          format: uuid
          description: cloud account id (on AWS/Azure/GCP)
          type: string
          example: 00000000-0000-0000-0000-000000000000
        cloudAccountExternalId:
          description: cloud account id on the cloud provider
          type: string
        organizationalUnitId:
          format: uuid
          description: the Organizational Unit id
          type: string
          example: 00000000-0000-0000-0000-000000000000
        organizationalUnitPath:
          description: the Organizational Unit path
          type: string
        bundleId:
          format: int64
          description: the bundle id
          type: integer
        bundleVersion:
          type: string
        alertType:
          description: the bundle id
          enum:
          - SecurityEvent
          - Task
          type: string
        ruleId:
          description: id of the specific rule that failed
          type: string
        ruleName:
          description: name of the specific rule that failed (text string)
          type: string
        ruleLogic:
          description: the GSL logic for the rule
          type: string
        entityDome9Id:
          description: the Dome9 entity id (representing a cloud entity) that was tested by the rule
          type: string
        entityExternalId:
          description: the cloud provider entity id for the entity tested by the rule
          type: string
        entityType:
          description: the type of entity tested (e.g. S3, or EC2)
          type: string
        entityTypeByEnvironmentType:
          description: the type of entity tested by the environment type in format of {EnvironmentType}|{EntityType}
          type: string
        entityName:
          description: the entity name (on the cloud provider), as a text string, in the specific cloud provider format
          type: string
        entityNetwork:
          type: string
        entityTags:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.TagRuleEntity'
        severity:
          description: the severity of the finding (H/M/L)
          type: string
        description:
          description: text description of the finding (the failure reason)
          type: string
        remediation:
          description: the recommended remediation (if any) for the failure
          type: string
        tag:
          description: tags assigned to the finding (list string)
          type: string
        region:
          description: the region in which the entity was located
          type: string
        bundleName:
          description: the name of the bundle with the rule
          type: string
        acknowledged:
          description: indicates the finding was acknowledged
          type: boolean
        origin:
          description: Dome9 source of the finding (Compliance or Magellan)
          enum:
          - ComplianceEngine
          - Magellan
          - MagellanAwsGuardDuty
          - Serverless
          - Agentless
          - AwsInspector
          - ServerlessSecurityAnalyzer
          - ExternalFindingSource
          - Qualys
          - Tenable
          - AwsGuardDuty
          - KubernetesImageScanning
          - KubernetesRuntimeAssurance
          - ContainersRuntimeProtection
          - WorkloadChangeMonitoring
          - ImageAssurance
          - SourceCodeAssurance
          - InfrastructureAsCode
          - CIEM
          - Incident
          type: string
        lastSeenTime:
          format: date-time
          description: Date when the finding was last seen
          type: string
        ownerUserName:
          description: Dome9 user assigned to the finding
          type: string
        magellan:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.Compliance.AssessmentFinding.MagellanData'
          description: Extra data for Magellan findings
        isExcluded:
          description: Indicates the finding was excluded from the assessment
          type: boolean
        webhookResponses:
          description: Consists of Webhook type and the response of that webhook, if response defined
          type: object
          properties:
            none:
              $ref: '#/components/schemas/Falconetix.Model.ElasticSearch.WebhookResponse.WebhookResponseMessage'
            serviceNow:
              $ref: '#/components/schemas/Falconetix.Model.ElasticSearch.WebhookResponse.WebhookResponseMessage'
            jira:
              $ref: '#/components/schemas/Falconetix.Model.ElasticSearch.WebhookResponse.WebhookResponseMessage'
        remediationActions:
          type: array
          items:
            type: string
        additionalFields:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.FindingAdditionalFieldViewModel'
        occurrences:
          type: array
          items:
            type: string
        scanId:
          type: string
        status:
          enum:
          - Active
          - Archived
          type: string
        statusReason:
          enum:
          - Unspecified
          - RuleViolation
          - ConfigurationFixed
          - AssetDeleted
          - RulesetDeleted
          - RuleDeleted
          - PolicyDeleted
          - UserClosed
          - CloudAccountDeleted
          type: string
        category:
          type: string
        action:
          enum:
          - Detect
          - Prevent
          type: string
        labels:
          type: array
          items:
            type: string
    Dome9.Web.Api.Compliance.Finding.GetFindingByKeyViewModel:
      required:
      - findingKey
      type: object
      properties:
        findingKey:
          type: string
    ? Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel
    : type: object
      properties:
        ids:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        details:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
    Dome9.ElasticSearch.Std.Finding.RuleStatistics:
      type: object
      properties:
        ruleLogicHash:
          type: string
        numberOfFindings:
          format: int64
          type: integer
    Dome9.Web.Api.Compliance.Finding.PostCommentViewModel:
      required:
      - text
      type: object
      properties:
        text:
          description: general comment for finding
          maxLength: 200
          minLength: 1
          type: string
    Dome9.ElasticSearch.Std.Base.AggKeyStatistics:
      type: object
      properties:
        key:
          type: string
        numberOfDocuments:
          format: int64
          type: integer
    Dome9.Web.Api.Compliance.Finding.FindingController.FindingSourceViewModel:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        value:
          format: int32
          type: integer
        originType:
          enum:
          - ComplianceEngine
          - Magellan
          - ExternalFindings
          - Serverless
          - KubernetesRuntimeAssurance
          - ContainersRuntimeProtection
          - ImageAssurance
          - SourceCodeAssurance
          - InfrastructureAsCode
          - CIEM
          - Incident
          - WorkloadChangeMonitoring
          - Agentless
          type: string
    Dome9.Web.Api.Compliance.Finding.FindingPaganationViewModel:
      type: object
      properties:
        searchRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          description: search request for findings
        findings:
          description: current page of findings
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.BaseFindingViewModel'
        totalFindingsCount:
          format: int64
          description: total number of findings
          type: integer
        aggregations:
          description: aggregate findings per search or filter entity (facet)
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FieldAggregationViewModel'
        searchAfter:
          description: token for next page of results
          type: array
          items:
            type: string
    Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel:
      type: object
      properties:
        ids:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        details:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
    Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel:
      type: object
      properties:
        searchRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
        actionRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel'
        excludedFindingsIds:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
    Dome9.Web.Api.Compliance.Finding.FindingViewModel:
      type: object
      properties:
        entityObject:
          description: details for the entity in the cloud provider
          type: object
        id:
          format: uuid
          description: finding id
          type: string
          example: 00000000-0000-0000-0000-000000000000
        findingKey:
          description: finding key
          type: string
        createdTime:
          format: date-time
          description: date finding was first found
          type: string
        updatedTime:
          format: date-time
          description: date of last update for the finding
          type: string
        cloudAccountType:
          description: cloud account provider (AWS/Azure/GCP)
          enum:
          - Aws
          - Azure
          - Google
          - Kubernetes
          - Terraform
          - Generic
          - KubernetesRuntimeAssurance
          - ShiftLeft
          - SourceCodeAssurance
          - ImageAssurance
          - Alibaba
          - Cft
          - ContainerRegistry
          - Oci
          - CIEM
          type: string
        comments:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.FindingCommentViewModel'
        cloudAccountId:
          format: uuid
          description: cloud account id (on AWS/Azure/GCP)
          type: string
          example: 00000000-0000-0000-0000-000000000000
        cloudAccountExternalId:
          description: cloud account id on the cloud provider
          type: string
        organizationalUnitId:
          format: uuid
          description: the Organizational Unit id
          type: string
          example: 00000000-0000-0000-0000-000000000000
        organizationalUnitPath:
          description: the Organizational Unit path
          type: string
        bundleId:
          format: int64
          description: the bundle id
          type: integer
        bundleVersion:
          type: string
        alertType:
          description: the bundle id
          enum:
          - SecurityEvent
          - Task
          type: string
        ruleId:
          description: id of the specific rule that failed
          type: string
        ruleName:
          description: name of the specific rule that failed (text string)
          type: string
        ruleLogic:
          description: the GSL logic for the rule
          type: string
        entityDome9Id:
          description: the Dome9 entity id (representing a cloud entity) that was tested by the rule
          type: string
        entityExternalId:
          description: the cloud provider entity id for the entity tested by the rule
          type: string
        entityType:
          description: the type of entity tested (e.g. S3, or EC2)
          type: string
        entityTypeByEnvironmentType:
          description: the type of entity tested by the environment type in format of {EnvironmentType}|{EntityType}
          type: string
        entityName:
          description: the entity name (on the cloud provider), as a text string, in the specific cloud provider format
          type: string
        entityNetwork:
          type: string
        entityTags:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.TagRuleEntity'
        severity:
          description: the severity of the finding (H/M/L)
          type: string
        description:
          description: text description of the finding (the failure reason)
          type: string
        remediation:
          description: the recommended remediation (if any) for the failure
          type: string
        tag:
          description: tags assigned to the finding (list string)
          type: string
        region:
          description: the region in which the entity was located
          type: string
        bundleName:
          description: the name of the bundle with the rule
          type: string
        acknowledged:
          description: indicates the finding was acknowledged
          type: boolean
        origin:
          description: Dome9 source of the finding (Compliance or Magellan)
          enum:
          - ComplianceEngine
          - Magellan
          - MagellanAwsGuardDuty
          - Serverless
          - Agentless
          - AwsInspector
          - ServerlessSecurityAnalyzer
          - ExternalFindingSource
          - Qualys
          - Tenable
          - AwsGuardDuty
          - KubernetesImageScanning
          - KubernetesRuntimeAssurance
          - ContainersRuntimeProtection
          - WorkloadChangeMonitoring
          - ImageAssurance
          - SourceCodeAssurance
          - InfrastructureAsCode
          - CIEM
          - Incident
          type: string
        lastSeenTime:
          format: date-time
          description: Date when the finding was last seen
          type: string
        ownerUserName:
          description: Dome9 user assigned to the finding
          type: string
        magellan:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.Compliance.AssessmentFinding.MagellanData'
          description: Extra data for Magellan findings
        isExcluded:
          description: Indicates the finding was excluded from the assessment
          type: boolean
        webhookResponses:
          description: Consists of Webhook type and the response of that webhook, if response defined
          type: object
          properties:
            none:
              $ref: '#/components/schemas/Falconetix.Model.ElasticSearch.WebhookResponse.WebhookResponseMessage'
            serviceNow:
              $ref: '#/components/schemas/Falconetix.Model.ElasticSearch.WebhookResponse.WebhookResponseMessage'
            jira:
              $ref: '#/components/schemas/Falconetix.Model.ElasticSearch.WebhookResponse.WebhookResponseMessage'
        remediationActions:
          type: array
          items:
            type: string
        additionalFields:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.FindingAdditionalFieldViewModel'
        occurrences:
          type: array
          items:
            type: string
        scanId:
          type: string
        status:
          enum:
          - Active
          - Archived
          type: string
        statusReason:
          enum:
          - Unspecified
          - RuleViolation
          - ConfigurationFixed
          - AssetDeleted
          - RulesetDeleted
          - RuleDeleted
          - PolicyDeleted
          - UserClosed
          - CloudAccountDeleted
          type: string
        category:
          type: string
        action:
          enum:
          - Detect
          - Prevent
          type: string
        labels:
          type: array
          items:
            type: string
    Falconetix.Model.RuleEngine.Entities.FindingAdditionalFieldViewModel:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    Dome9.Web.Api.Compliance.Finding.SearchFilterViewModel:
      type: object
      properties:
        freeTextPhrase:
          description: free text
          type: string
        fields:
          description: fields
          type: array
          items:
            $ref: '#/components/schemas/CGN.OpenSearch.Model.CommonViewModels.FieldFilterViewModel'
        onlyCIEM:
          type: boolean
        onlyCustomPolicy:
          description: Filtering all findings created by custom policy
          type: boolean
        creationTime:
          $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.DateRangeViewModel'
        updatedTime:
          $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.DateRangeViewModel'
        hasRemediation:
          type: boolean
    Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel:
      type: object
      properties:
        assigneeUserName:
          description: assigned Dome9 user name (email address)
          type: string
    Dome9.Web.Api.Compliance.Finding.SelectAllResponseViewModel:
      type: object
      properties:
        accountId:
          format: int64
          type: integer
        statusCode:
          enum:
          - Continue
          - SwitchingProtocols
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultipleChoices
          - Ambiguous
          - MovedPermanently
          - Moved
          - Found
          - Redirect
          - SeeOther
          - RedirectMethod
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - RedirectKeepVerb
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - UpgradeRequired
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          type: string
        status:
          enum:
          - ActionBegin
          - ActionError
          - ActionTimeout
          - FinishRunningAction
          type: string
        completed:
          type: boolean
        total:
          format: int64
          type: integer
        updated:
          format: int64
          type: integer
        failed:
          format: int64
          type: integer
        error:
          type: string
    Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel:
      type: object
      properties:
        ids:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        details:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
    Dome9.Web.Api.Compliance.Finding.FindingsStatsViewModel:
      description: Statistics (passes/fails) for a bundle
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.ElasticSearch.Std.Finding.RuleStatistics'
    Dome9.Web.Api.Compliance.Finding.FindingCommentViewModel:
      description: comments for a finding (listed by user)
      type: object
      properties:
        text:
          type: string
        timestamp:
          format: date-time
          type: string
        userName:
          type: string
    Dome9.Web.Api.Compliance.Finding.PutAcknowledgedViewModel:
      type: object
      properties:
        acknowledged:
          description: acknowledge finding
          type: boolean
        comment:
          description: acknowledge comment
          maxLength: 200
          minLength: 0
          type: string
    Dome9.Web.Api.Compliance.Finding.BulkViewModel.BulkRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel:
      type: object
      properties:
        ids:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        details:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
    Dome9.Web.Api.Compliance.Finding.SortingViewModel:
      type: object
      properties:
        fieldName:
          description: Field name
          type: string
        direction:
          format: int32
          description: direction. 1 is asc, -1 desc
          type: integer
    Falconetix.Model.RuleEngine.Entities.TagRuleEntity:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel:
      type: object
      properties:
        searchAfter:
          description: token for the page of findings (first page if not specified)
          type: array
          items:
            type: string
        pageSize:
          format: int32
          description: 'page size (number of findings returned per page). default: 10.'
          maximum: 10000
          minimum: 0
          type: integer
        skipAggregations:
          type: boolean
        lowAggregationsSize:
          type: boolean
        sorting:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SortingViewModel'
          description: sort data
        multiSorting:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SortingViewModel'
        filter:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchFilterViewModel'
          description: filter
        dataSource:
          enum:
          - Finding
          - Archive
          type: string
    Dome9.Web.Api.Compliance.Finding.FindingsStatsBySeverityViewModel:
      description: Statistics (passes/fails) per severity
      type: object
      properties:
        aggByProperty:
          type: string
        aggStatistics:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.ElasticSearch.Std.Base.AggKeyStatistics'
    CGN.OpenSearch.Model.CommonViewModels.FieldFilterViewModel:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    Dome9.Web.Api.Compliance.Finding.FindingController.AssessmentFindingOriginProperties:
      type: object
      properties:
        origin:
          type: string
        originNumber:
          format: int32
          type: integer
        originDescription:
          type: string
    Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Compliance.Models.ActionType:
      type: object
      properties:
        searchRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
        actionRequest:
          enum:
          - Undefined
          - Acknowledge
          - Severity
          - Assign
          - Comment
          - Close
          - Archive
          - Delete
          - Unarchive
          type: string
        excludedFindingsIds:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
    Falconetix.Model.RuleEngine.Entities.Compliance.AssessmentFinding.MagellanData:
      type: object
      properties:
        alertWindowStartTime:
          format: date-time
          type: string
        alertWindowEndTime:
          format: date-time
          type: string
    Dome9.Web.Api.Compliance.Finding.ArchiveFindingModel:
      type: object
      properties: {}
    Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PostCommentViewModel:
      type: object
      properties:
        searchRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
        actionRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PostCommentViewModel'
        excludedFindingsIds:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
    Dome9.Web.Api.Compliance.Finding.PostCommentByFindingKeyViewModel:
      required:
      - findingKey
      - text
      type: object
      properties:
        findingKey:
          type: string
        text:
          description: general comment for finding
          maxLength: 200
          minLength: 1
          type: string
    Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel:
      type: object
      properties:
        searchRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
        actionRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel'
        excludedFindingsIds:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
    Falconetix.Model.ElasticSearch.WebhookResponse.WebhookResponseMessage:
      type: object
      properties:
        requestTime:
          format: date-time
          type: string
        responseContent:
          type: object
    Dome9.Web.Api.Compliance.Finding.PutSeverityViewModel:
      required:
      - severity
      type: object
      properties:
        severity:
          description: finding severity (H/M/L)
          enum:
          - Informational
          - Low
          - Medium
          - High
          - Critical
          type: string
        comment:
          description: severity comment (if severity is changed)
          maxLength: 200
          minLength: 0
          type: string
    Dome9.Web.Api.Compliance.Finding.SelectAllRequestViewModel_Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel:
      type: object
      properties:
        searchRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
        actionRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.PutAssigneeViewModel'
        excludedFindingsIds:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
