openapi: 3.2.0
info:
  version: v2
  title: Dome9. Assessment History V2 API
  description: Compliance Assessment History
servers:
- url: https://api.dome9.com
tags:
- name: Assessment History V2
  description: Compliance Assessment History
  type: PostureManagement
paths:
  /v2/AssessmentHistoryV2/bundleResults:
    get:
      tags:
      - Assessment History V2
      summary: Get most recent assessment results for a specific bundle, for a list of cloud…
      operationId: AssessmentHistoryV2_GetBundleResults
      parameters:
      - name: bundleId
        in: query
        description: the bundle used for the assessment (for all the accounts in the list)
        required: true
        schema:
          type: integer
          format: int64
      - name: cloudAccountIds
        in: query
        description: comma separated list of cloud accounts
        required: true
        schema:
          type: string
      - name: fromTime
        in: query
        description: the time the assessment was done
        required: true
        schema:
          type: string
          format: date-time
      - name: epsilonInMinutes
        in: query
        description: period of time (in min) back from the fromTime to look for results; only results in this range will be returned
        required: false
        schema:
          type: integer
          format: int64
      - name: requestId
        in: query
        description: an optional request id; the same value will appear in the response
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Newtonsoft.Json.Linq.JRaw'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Newtonsoft.Json.Linq.JRaw'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Newtonsoft.Json.Linq.JRaw'
  /v2/AssessmentHistoryV2/assessmentTrendOrganizationalUnit:
    get:
      tags:
      - Assessment History V2
      summary: Get the assessment trend for the selected time range (maximum of 93 days)
      operationId: AssessmentHistoryV2_GetAssessmentTrendOrganizationalUnit
      parameters:
      - name: rulesetId
        in: query
        description: Ruleset ID
        required: true
        schema:
          type: integer
          format: int64
      - name: organizationalUnitId
        in: query
        description: Organizational Unit ID
        required: true
        schema:
          type: string
          format: uuid
      - name: from
        in: query
        description: From Date
        required: true
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: To Date
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel'
  /v2/AssessmentHistoryV2/assessmentTrendV2:
    get:
      tags:
      - Assessment History V2
      summary: Get the assessment trend for the selected time range (maximum of 93 days)
      operationId: AssessmentHistoryV2_GetAssessmentTrendV2
      parameters:
      - name: bundleId
        in: query
        description: Bundle ID
        required: true
        schema:
          type: integer
          format: int64
      - name: cloudAccountId
        in: query
        description: Cloud Account ID
        required: true
        schema:
          type: string
          format: uuid
      - name: from
        in: query
        description: From Date
        required: true
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: To Date
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel'
  /v2/AssessmentHistoryV2/LastAssessmentResults/view:
    post:
      tags:
      - Assessment History V2
      summary: Get last assessment results for selected cloud accounts and bundles.
      operationId: AssessmentHistoryV2_GetLastAssessmentResultsView
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
        description: block that specifies the accounts and bundles
        required: true
  /v2/AssessmentHistoryV2/LastAssessmentResults:
    post:
      tags:
      - Assessment History V2
      summary: Get last assessment results for selected cloud accounts and bundles.
      operationId: AssessmentHistoryV2_GetLastAssessmentResults
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Newtonsoft.Json.Linq.JRaw'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Newtonsoft.Json.Linq.JRaw'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Newtonsoft.Json.Linq.JRaw'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
        description: block that specifies the accounts and bundles
        required: true
  /v2/AssessmentHistoryV2/LastAssessmentResults/minimized:
    post:
      tags:
      - Assessment History V2
      summary: Get last assessment results for selected cloud accounts and bundles as…
      operationId: AssessmentHistoryV2_GetLastAssessmentResultsMini
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Falconetix.Model.RuleEngine.Entities.AssessmentHistoryMinimizedEntity'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Falconetix.Model.RuleEngine.Entities.AssessmentHistoryMinimizedEntity'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Falconetix.Model.RuleEngine.Entities.AssessmentHistoryMinimizedEntity'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Falconetix.Model.RuleEngine.Entities.AssessmentHistoryMinimizedEntity'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Falconetix.Model.RuleEngine.Entities.AssessmentHistoryMinimizedEntity'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel'
        description: block that specifies the accounts and bundles
        required: true
  /v2/AssessmentHistoryV2/ExecutiveReport/{vendor}/{rulesetId}:
    get:
      tags:
      - Assessment History V2
      summary: Get an executive report of assessments for the selected ruleset and platform
      operationId: AssessmentHistoryV2_GetLastAssessmentResultsMiniToExecutiveSummary
      parameters:
      - name: vendor
        in: path
        description: Platform
        required: true
        schema:
          type: string
          enum:
          - aws
          - hp
          - mellanox
          - awsgov
          - azure
          - google
          - awschina
          - azuregov
          - kubernetes
          - azurechina
          - terraform
          - generic
          - kubernetesruntimeassurance
          - shiftleft
          - sourcecodeassurance
          - imageassurance
          - alibaba
          - cft
          - containerregistry
          - oci
          - ocigov
          - ocigovuk
          - CIEM
      - name: rulesetId
        in: path
        description: Ruleset ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentExecutiveReport'
            text/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentExecutiveReport'
            text/html:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentExecutiveReport'
            application/xml:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentExecutiveReport'
            text/xml:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentExecutiveReport'
  /v2/AssessmentHistoryV2/ExecutiveReport/email/{vendor}/{rulesetId}:
    post:
      tags:
      - Assessment History V2
      summary: Send email with link to s3 bucket to the Executive Report
      operationId: AssessmentHistoryV2_SendExecutiveReportCSVByEmail
      parameters:
      - name: vendor
        in: path
        description: vendor
        required: true
        schema:
          type: string
          enum:
          - aws
          - hp
          - mellanox
          - awsgov
          - azure
          - google
          - awschina
          - azuregov
          - kubernetes
          - azurechina
          - terraform
          - generic
          - kubernetesruntimeassurance
          - shiftleft
          - sourcecodeassurance
          - imageassurance
          - alibaba
          - cft
          - containerregistry
          - oci
          - ocigov
          - ocigovuk
          - CIEM
      - name: rulesetId
        in: path
        description: rulesetId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
            text/json:
              schema:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
            text/html:
              schema:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
            application/xml:
              schema:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
            text/xml:
              schema:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          text/html:
            schema:
              type: array
              items:
                type: string
          application/xml:
            schema:
              type: array
              items:
                type: string
          text/xml:
            schema:
              type: array
              items:
                type: string
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                type: string
        description: Emails
        required: true
  /v2/AssessmentHistoryV2/{assessmentId}/ExecutiveReport/csv:
    get:
      tags:
      - Assessment History V2
      summary: Get a csv executive report of assessment
      operationId: AssessmentHistoryV2_GetAssessmentExecutiveReportCSV
      parameters:
      - name: assessmentId
        in: path
        description: AssessmentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v2/AssessmentHistoryV2/OrganizationalUnitsLastAssessmentStatistics:
    post:
      tags:
      - Assessment History V2
      summary: Get last assessment statistics for selected Organizational Units and bundles
      operationId: AssessmentHistoryV2_GetOrganizationalUnitsLastAssessmentStatistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryRequestModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryRequestModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryRequestModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryRequestModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryRequestModel'
        required: true
  /v2/AssessmentHistoryV2/view/timeRange:
    post:
      tags:
      - Assessment History V2
      summary: Get assessment history (list of assessments) for specified time range and…
      operationId: AssessmentHistoryV2_FindResultViewsByTimeRangeAsync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessnentHistoryViewResultsTimeRangeViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessnentHistoryViewResultsTimeRangeViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessnentHistoryViewResultsTimeRangeViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest'
          text/html:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest'
        description: details of the results to get (filters, time range)
        required: true
  /v2/AssessmentHistoryV2/view/{id}:
    get:
      tags:
      - Assessment History V2
      summary: Get result statistics for a specific assessment
      operationId: AssessmentHistoryV2_GetViewHistoryAsync
      parameters:
      - name: id
        in: path
        description: The ID of the assessment
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
  /v2/AssessmentHistoryV2/csv/{assessmentResultId}:
    get:
      tags:
      - Assessment History V2
      summary: Get assessment result CSV
      operationId: AssessmentHistoryV2_GetAssessmentResultCsv
      parameters:
      - name: assessmentResultId
        in: path
        description: Assessment result ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            text/html:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
  /v2/AssessmentHistoryV2/{id}:
    get:
      tags:
      - Assessment History V2
      summary: Get results for a specific assessment
      operationId: AssessmentHistoryV2_GetHistoryAsync
      parameters:
      - name: id
        in: path
        description: the id of the assessment
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Newtonsoft.Json.Linq.JRaw'
            text/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Newtonsoft.Json.Linq.JRaw'
            text/html:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Newtonsoft.Json.Linq.JRaw'
  /v2/AssessmentHistoryV2:
    delete:
      tags:
      - Assessment History V2
      summary: Delete an assessment
      operationId: AssessmentHistoryV2_DeleteHistoryAsync
      parameters:
      - name: historyId
        in: query
        description: the id of the assessment
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
components:
  schemas:
    Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryViewModel:
      type: object
      properties:
        organizationalUnitPaths:
          type: array
          items:
            type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        bundleId:
          format: int64
          type: integer
        statistics:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentHistoryStats'
        resultId:
          format: int64
          type: integer
        resultDate:
          format: date-time
          type: string
        triggeredBy:
          enum:
          - Unknown
          - ContinuousCompliancePolicy
          - Manual
          - SystemBundle
          - Serverless
          - Logic
          - Magellan
          - KubernetesRuntimeAssurance
          - ContainersRuntimeProtection
          - ExternalFinding
          - CIEM
          - Incident
          - WorkloadChangeMonitoring
          - Agentless
          type: string
    Falconetix.Model.RuleEngine.Entities.CloudAccountBundleFilterViewModel:
      description: Filter model per cloud account type
      required:
      - bundleIds
      - cloudAccountIds
      type: object
      properties:
        bundleIds:
          description: Bundle IDs
          type: array
          items:
            format: int64
            type: integer
        cloudAccountIds:
          description: Cloud Account IDs (GUIDs)
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        cloudAccountType:
          description: Cloud Account Type - "Aws", "Azure", "Google"
          enum:
          - Aws
          - Azure
          - Google
          - Kubernetes
          - Terraform
          - Generic
          - KubernetesRuntimeAssurance
          - ShiftLeft
          - SourceCodeAssurance
          - ImageAssurance
          - Alibaba
          - Cft
          - ContainerRegistry
          - Oci
          - CIEM
          type: string
    Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryRequestModel:
      type: object
      properties:
        organizationalUnitIds:
          description: List of Organizational Units on which assessments were run
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        bundleIds:
          description: List of bundles (rulesets) run on the accounts in the Organizational Units
          type: array
          items:
            format: int64
            type: integer
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.RuleTestResultViewModel:
      type: object
      properties:
        error:
          type: string
        testedCount:
          format: int32
          type: integer
        relevantCount:
          format: int32
          type: integer
        nonComplyingCount:
          format: int32
          type: integer
        exclusionStats:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.RuleTestResultStats'
        entityResults:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.ValidationResult'
        entityResultsCount:
          format: int32
          type: integer
        entityType:
          type: string
        rule:
          $ref: '#/components/schemas/Falconetix.Model.Compliance.Ruleset.RuleViewModel'
        testPassed:
          type: boolean
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Newtonsoft.Json.Linq.JRaw:
      type: object
      properties:
        tests:
          description: list of rules in the assessment
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.RuleTestResultViewModel'
        testEntities:
          description: list of entities tested in the assessment
          type: object
          additionalProperties:
            type: array
            items:
              type: object
        exclusions:
          description: list of exclusions associated with this assessment
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.Exclusion.ExclusionViewModel'
        remediations:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.Remediation.RemediationViewModel'
        dataSyncStatus:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.Assessment.AssessmentDataSyncStatusEntityViewModel'
        createdTime:
          format: date-time
          description: date of assessment
          type: string
        id:
          format: int64
          description: assessment id
          type: integer
        assessmentId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        triggeredBy:
          description: reason for assessment
          enum:
          - Unknown
          - ContinuousCompliancePolicy
          - Manual
          - SystemBundle
          - Serverless
          - Logic
          - Magellan
          - KubernetesRuntimeAssurance
          - ContainersRuntimeProtection
          - ExternalFinding
          - CIEM
          - Incident
          - WorkloadChangeMonitoring
          - Agentless
          type: string
        assessmentPassed:
          description: assessment result
          type: boolean
        hasErrors:
          description: assessment has errors
          type: boolean
        stats:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryStatsV2ViewModel'
          description: summary statistics for assessment
        request:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryBundleResultV2ViewModel'
        hasDataSyncStatusIssues:
          type: boolean
        comparisonCustomId:
          type: string
        additionalFields:
          type: object
          additionalProperties:
            type: string
    Falconetix.Model.RuleEngine.Entities.VpcMinimizedEntity:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Falconetix.Model.RuleEngine.Entities.ValidationResult:
      type: object
      properties:
        validationStatus:
          enum:
          - Relevant
          - Valid
          - Excluded
          type: string
        isRelevant:
          description: 'means if entity is relevant for this rule

            for example rule = "Instance where name like ''%db%'' should have...", returns false in instance name = ''scheduler1'''
          type: boolean
        isValid:
          description: 'means if entity is compliant.

            for example for rule="Instance should have vpc", return true if instance i-123 is under vpc-234, and false if not'
          type: boolean
        isExcluded:
          description: 'means if entity is excluded.

            for example for rule="Instance should have vpc exclude name=''test''", return true if instance name is test, and false if not'
          type: boolean
        exclusionId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        remediationId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        error:
          description: note that the lambda is not aware of this field
          type: string
        testObj:
          description: note that the lambda is not aware of this field
          type: object
    Falconetix.Model.RuleEngine.ViewModels.Exclusion.RuleViewModel:
      type: object
      properties:
        logicHash:
          description: Rule logic hash
          pattern: ^[A-Za-z0-9+/]{22}?$
          type: string
        id:
          description: Rule ID
          type: string
        name:
          description: Rule name
          type: string
        rlmId:
          type: string
    Falconetix.Model.RuleEngine.Entities.StatsBySeverity:
      type: object
      properties:
        informational:
          format: int32
          type: integer
        low:
          format: int32
          type: integer
        medium:
          format: int32
          type: integer
        high:
          format: int32
          type: integer
        critical:
          format: int32
          type: integer
    Falconetix.Model.RuleEngine.Entities.AssessmentExecutiveReport:
      type: object
      properties:
        date:
          format: date-time
          description: date of assessment
          type: string
        rulesetName:
          description: bundle name
          type: string
        vendor:
          enum:
          - aws
          - hp
          - mellanox
          - awsgov
          - azure
          - google
          - awschina
          - azuregov
          - kubernetes
          - azurechina
          - terraform
          - generic
          - kubernetesruntimeassurance
          - shiftleft
          - sourcecodeassurance
          - imageassurance
          - alibaba
          - cft
          - containerregistry
          - oci
          - ocigov
          - ocigovuk
          - CIEM
          type: string
        numberOfEnvironments:
          format: int32
          type: integer
        topEnvironmentsWithHighSeverityFindings:
          description: Top 10 environments with high severity findings and number of findings for each environment
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentExecutiveReportEnvironmentFinding'
        testedEntities:
          description: Entity name and number of entities in each category
          type: object
          additionalProperties:
            format: int32
            type: integer
        failedTestedBySeverity:
          type: object
          additionalProperties:
            format: int32
            type: integer
        passedPerEntityType:
          type: object
          additionalProperties:
            format: int32
            type: integer
        failedPerEntityType:
          type: object
          additionalProperties:
            format: int32
            type: integer
        allTestsScore:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.AssessmentData.TestsScore'
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest.CreationTimeFieldViewModel:
      required:
      - from
      - to
      type: object
      properties:
        from:
          format: date-time
          description: Starting time/date for assessments to be retrieved
          type: string
        to:
          format: date-time
          description: End time/date for assessments to be retrieved
          type: string
    Falconetix.Model.RuleEngine.ViewModels.Remediation.RemediationViewModel:
      required:
      - comment
      type: object
      properties:
        platform:
          description: Remediation platform
          enum:
          - Aws
          - Azure
          - Google
          - Kubernetes
          - Terraform
          - Generic
          - KubernetesRuntimeAssurance
          - ShiftLeft
          - SourceCodeAssurance
          - ImageAssurance
          - Alibaba
          - Cft
          - ContainerRegistry
          - Oci
          - CIEM
          type: string
        id:
          format: uuid
          description: Remediation ID
          type: string
          example: 00000000-0000-0000-0000-000000000000
        rules:
          description: '[Optional] List of rules to apply the remediation on.'
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.Exclusion.RuleViewModel'
        logicExpressions:
          description: '[Optional] The GSL logic expressions of the exclusion.'
          pattern: ((name|id|accountNumber) like '[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+')|(severity like '(informational|low|medium|high|critical)')|(tags contain \[(key like '[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+' and value like '[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+')( or key like '[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+' and value like '[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+')*\])
          type: array
          items:
            type: string
        rulesetId:
          format: int64
          description: Ruleset ID to apply exclusion on.
          type: integer
        cloudAccountIds:
          description: '[Optional] List of cloud account IDs to apply exclusion on.

            If neither cloud account IDs nor organizational unit IDs are supplied, exclusion will apply on all cloud accounts.

            If both organizational unit IDs and cloud account IDs are supplied, only organizational unit IDs will take effect.'
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        comment:
          description: Comment text (free text)
          type: string
        cloudBots:
          description: Cloud bots execution expressions
          type: array
          items:
            type: string
        organizationalUnitIds:
          description: '[Optional] List of organizational unit IDs to apply exclusion on.

            If neither organizational unit IDs nor cloud account IDs are supplied, exclusion will apply on all cloud accounts.

            If both organizational unit IDs and cloud account IDs are supplied, only organizational unit IDs will take effect.'
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        dateRange:
          $ref: '#/components/schemas/Falconetix.Model.DateTimeRange'
          description: '[Optional] Effective date range for the exclusion.

            Leaving ''From'' null will take only ''To'' into account.

            Leaving ''To'' null will take only ''From'' into account.

            DateRange with both ''From'' and ''To'' null will be disregarded.'
    Falconetix.Model.RuleEngine.ViewModels.Exclusion.ExclusionViewModel:
      required:
      - comment
      type: object
      properties:
        platform:
          description: Exclusion platform
          enum:
          - Aws
          - Azure
          - Google
          - Kubernetes
          - Terraform
          - Generic
          - KubernetesRuntimeAssurance
          - ShiftLeft
          - SourceCodeAssurance
          - ImageAssurance
          - Alibaba
          - Cft
          - ContainerRegistry
          - Oci
          - CIEM
          type: string
        id:
          format: uuid
          description: Exclusion ID
          type: string
          example: 00000000-0000-0000-0000-000000000000
        rules:
          description: '[Optional] List of rules to apply the exclusion on.'
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.Exclusion.RuleViewModel'
        logicExpressions:
          description: '[Optional] The GSL logic expressions of the exclusion.'
          pattern: ((name|id|accountNumber) like '[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+')|(severity like '(informational|low|medium|high|critical)')|(tags contain \[(key like '[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+' and value like '[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+')( or key like '[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+' and value like '[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+')*\])
          type: array
          items:
            type: string
        regions:
          description: '[Optional] List of regions to exclude, for example ''us_east_1''.'
          type: array
          items:
            type: string
        rulesetId:
          format: int64
          description: Ruleset ID to apply exclusion on.
          type: integer
        cloudAccountIds:
          description: '[Optional] List of cloud account IDs to apply exclusion on.

            If neither cloud account IDs nor organizational unit IDs are supplied, exclusion will apply on all cloud accounts.

            If both organizational unit IDs and cloud account IDs are supplied, only organizational unit IDs will take effect.'
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        organizationalUnitIds:
          description: '[Optional] List of organizational unit IDs to apply exclusion on.

            If neither organizational unit IDs nor cloud account IDs are supplied, exclusion will apply on all cloud accounts.

            If both organizational unit IDs and cloud account IDs are supplied, only organizational unit IDs will take effect.'
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        comment:
          description: Comment text (free text)
          type: string
        dateRange:
          $ref: '#/components/schemas/Falconetix.Model.DateTimeRange'
          description: '[Optional] Effective date range for the exclusion.

            Leaving ''From'' null will take only ''To'' into account.

            Leaving ''To'' null will take only ''From'' into account.

            DateRange with both ''From'' and ''To'' null will be disregarded.'
    Falconetix.Model.RuleEngine.Entities.AssessmentHistoryStats:
      type: object
      properties:
        passed:
          format: int32
          type: integer
        passedRulesBySeverity:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.StatsBySeverity'
        logicallyTested:
          format: int32
          type: integer
        failed:
          format: int32
          type: integer
        failedRulesBySeverity:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.StatsBySeverity'
        failedTests:
          format: int32
          type: integer
        error:
          format: int32
          type: integer
        failedEntities:
          format: int32
          type: integer
        totalEntities:
          format: int32
          type: integer
        excludedTests:
          format: int32
          type: integer
        excludedFailedTests:
          format: int32
          type: integer
        excludedRules:
          format: int32
          type: integer
        excludedRulesBySeverity:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.StatsBySeverity'
        failedTestsBySeverity:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.StatsBySeverity'
        totalRelevantTestsBySeverity:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.StatsBySeverity'
    Falconetix.Model.RuleEngine.ViewModels.Assessment.EntityWithPermissionIssueViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        cloudVendorIdentifier:
          type: string
    Falconetix.Model.RuleEngine.Entities.TagRuleEntity:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel:
      type: object
      properties:
        createdTime:
          format: date-time
          description: date of assessment
          type: string
        id:
          format: int64
          description: assessment id
          type: integer
        assessmentId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        triggeredBy:
          description: reason for assessment
          enum:
          - Unknown
          - ContinuousCompliancePolicy
          - Manual
          - SystemBundle
          - Serverless
          - Logic
          - Magellan
          - KubernetesRuntimeAssurance
          - ContainersRuntimeProtection
          - ExternalFinding
          - CIEM
          - Incident
          - WorkloadChangeMonitoring
          - Agentless
          type: string
        assessmentPassed:
          description: assessment result
          type: boolean
        hasErrors:
          description: assessment has errors
          type: boolean
        stats:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryStatsV2ViewModel'
          description: summary statistics for assessment
        request:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryBundleResultV2ViewModel'
        hasDataSyncStatusIssues:
          type: boolean
        comparisonCustomId:
          type: string
        additionalFields:
          type: object
          additionalProperties:
            type: string
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest.SortingFieldViewModel:
      type: object
      properties:
        fieldName:
          description: field to sort the retrieved results
          type: string
        direction:
          format: int32
          description: direction of sort
          type: integer
    Falconetix.Model.RuleEngine.AssessmentData.TestsScore:
      type: object
      properties:
        tested:
          format: int64
          type: integer
        passed:
          format: int64
          type: integer
        failed:
          format: int64
          type: integer
    ? Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel_Falconetix.Model.RuleEngine.Entities.AssessmentHistoryMinimizedEntity
    : type: object
      properties:
        tests:
          description: list of rules in the assessment
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.RuleTestResultViewModel'
        testEntities:
          description: list of entities tested in the assessment
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.AssessmentHistoryMinimizedEntity'
        exclusions:
          description: list of exclusions associated with this assessment
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.Exclusion.ExclusionViewModel'
        remediations:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.Remediation.RemediationViewModel'
        dataSyncStatus:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.Assessment.AssessmentDataSyncStatusEntityViewModel'
        createdTime:
          format: date-time
          description: date of assessment
          type: string
        id:
          format: int64
          description: assessment id
          type: integer
        assessmentId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        triggeredBy:
          description: reason for assessment
          enum:
          - Unknown
          - ContinuousCompliancePolicy
          - Manual
          - SystemBundle
          - Serverless
          - Logic
          - Magellan
          - KubernetesRuntimeAssurance
          - ContainersRuntimeProtection
          - ExternalFinding
          - CIEM
          - Incident
          - WorkloadChangeMonitoring
          - Agentless
          type: string
        assessmentPassed:
          description: assessment result
          type: boolean
        hasErrors:
          description: assessment has errors
          type: boolean
        stats:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryStatsV2ViewModel'
          description: summary statistics for assessment
        request:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryBundleResultV2ViewModel'
        hasDataSyncStatusIssues:
          type: boolean
        comparisonCustomId:
          type: string
        additionalFields:
          type: object
          additionalProperties:
            type: string
    Falconetix.Model.RuleEngine.Entities.AssessmentExecutiveReportEnvironmentFinding:
      type: object
      properties:
        accountId:
          type: string
        name:
          type: string
        countFindingsBySeverity:
          type: object
          additionalProperties:
            format: int32
            type: integer
    Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel:
      type: object
      properties:
        assessmentDate:
          format: date-time
          type: string
        failedTests:
          format: int64
          type: integer
        totalTests:
          format: int64
          type: integer
        passedTests:
          format: int64
          type: integer
          readOnly: true
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest.FilterFieldViewModel:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.StatsBySeverityViewModel:
      type: object
      properties:
        informational:
          format: int32
          type: integer
        low:
          format: int32
          type: integer
        medium:
          format: int32
          type: integer
        high:
          format: int32
          type: integer
        critical:
          format: int32
          type: integer
    Falconetix.Model.Compliance.Ruleset.RuleViewModel:
      required:
      - name
      - logic
      type: object
      properties:
        name:
          description: rule name
          type: string
        severity:
          description: rule severity (High/Medium/Low)
          enum:
          - Informational
          - Low
          - Medium
          - High
          - Critical
          type: string
        rlmId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        logic:
          description: the GSL statement for the rule (text string)
          type: string
        description:
          description: description of the rule (text)
          type: string
        remediation:
          description: remediation text for the rule (text)
          type: string
        cloudbots:
          description: the Cloudbots section for the rule (optional)
          type: string
        complianceTag:
          description: the compliance section for the rule (optional)
          type: string
        domain:
          description: this field is not used
          type: string
        priority:
          description: this field is not used
          type: string
        controlTitle:
          description: this field is not used
          type: string
        ruleId:
          description: this field is not used
          type: string
        category:
          description: Rule Category
          type: string
        labels:
          type: array
          items:
            type: string
        logicHash:
          description: MD5 hash of the rule logic (serves as a unique ID for the rule), returned in response
          type: string
        isDefault:
          description: The property represents default rule
          type: boolean
    Falconetix.Model.DateTimeRange:
      type: object
      properties:
        from:
          format: date-time
          description: From date time
          type: string
        to:
          format: date-time
          description: To date time
          type: string
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessnentHistoryViewResultsTimeRangeViewModel:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel'
        totalResultsCount:
          format: int64
          type: integer
        pageNumber:
          format: int32
          type: integer
        pageSize:
          format: int32
          type: integer
        requestId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel:
      description: Assessment Filter Model
      required:
      - cloudAccountBundleFilters
      type: object
      properties:
        cloudAccountBundleFilters:
          description: Cloud Account Filter Models
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.CloudAccountBundleFilterViewModel'
        from:
          format: date-time
          description: '[OPTIONAL] Filter latest results that are later than this date.'
          type: string
        to:
          format: date-time
          description: '[OPTIONAL] Filter latest results that are earlier than this date.'
          type: string
    Falconetix.Model.RuleEngine.Entities.RuleTestResultStats:
      type: object
      properties:
        testedCount:
          format: int32
          type: integer
        relevantCount:
          format: int32
          type: integer
        nonComplyingCount:
          format: int32
          type: integer
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryBundleResultV2ViewModel:
      type: object
      properties:
        isTemplate:
          type: boolean
        id:
          format: int64
          description: the bundle id
          type: integer
        version:
          type: string
        name:
          description: the bundle name
          type: string
        description:
          description: the bundle description
          type: string
        dome9CloudAccountId:
          format: uuid
          description: The Dome9 account id
          type: string
          example: 00000000-0000-0000-0000-000000000000
        externalCloudAccountId:
          description: account id on cloud provider (AWS, Azure, GCP)
          type: string
        cloudAccountId:
          description: account id on cloud provider (AWS, Azure, GCP)
          type: string
        cloudAccountType:
          description: the cloud provider (AWS/Azure/GCP)
          enum:
          - Aws
          - Azure
          - Google
          - Kubernetes
          - Terraform
          - Generic
          - KubernetesRuntimeAssurance
          - ShiftLeft
          - SourceCodeAssurance
          - ImageAssurance
          - Alibaba
          - Cft
          - ContainerRegistry
          - Oci
          - CIEM
          type: string
        requestId:
          format: uuid
          description: the assessment id (returned in the response)
          type: string
          example: 00000000-0000-0000-0000-000000000000
        shouldMinimizeResult:
          description: Minimized the entity results
          type: boolean
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryStatsV2ViewModel:
      type: object
      properties:
        passed:
          format: int32
          description: number of passed rules
          type: integer
        passedRulesBySeverity:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.StatsBySeverityViewModel'
          description: passed rules divided by severity
        failed:
          format: int32
          description: number of failed rules
          type: integer
        failedRulesBySeverity:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.StatsBySeverityViewModel'
          description: failed rules divided by severity
        error:
          format: int32
          description: number of errors
          type: integer
        failedTests:
          format: int32
          description: number of failed tests (entities) - same entity will be counted multiple times if it is relevant for multiple failed tests)
          type: integer
        logicallyTested:
          format: int32
          description: Total number of tests performed
          type: integer
        failedEntities:
          format: int32
          description: number of failed entities. (Distinct count of the entities - no duplications)
          type: integer
        excludedTests:
          format: int32
          description: number of excluded tests
          type: integer
        excludedFailedTests:
          format: int32
          description: number of excluded tests that also failed
          type: integer
        excludedRules:
          format: int32
          description: number of rules that contains only excluded tests
          type: integer
        excludedRulesBySeverity:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.StatsBySeverityViewModel'
          description: excluded rules divided by severity
        failedTestsBySeverity:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.StatsBySeverityViewModel'
          description: 'Amount of failed tests (entities) divided by severity.

            (same entity will be counted multiple times if it is relevant for multiple failed tests)'
        totalRelevantTestsBySeverity:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.StatsBySeverityViewModel'
          description: 'Amount of Relevant tests (entities) divided by severity.

            (same entity will be counted multiple times if it is relevant for multiple failed tests)'
    Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest:
      required:
      - creationTime
      type: object
      properties:
        creationTime:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest.CreationTimeFieldViewModel'
        pageSize:
          format: int32
          description: number of results in a page
          maximum: 500
          minimum: 1
          type: integer
        pageNumber:
          format: int32
          description: result page number to retrieve (results are grouped in pages, according to PageSize)
          maximum: 2147483647
          minimum: 1
          type: integer
        requestId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        filterFields:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest.FilterFieldViewModel'
        rulesetTypes:
          type: array
          items:
            enum:
            - aws
            - hp
            - mellanox
            - awsgov
            - azure
            - google
            - awschina
            - azuregov
            - kubernetes
            - azurechina
            - terraform
            - generic
            - kubernetesruntimeassurance
            - shiftleft
            - sourcecodeassurance
            - imageassurance
            - alibaba
            - cft
            - containerregistry
            - oci
            - ocigov
            - ocigovuk
            - CIEM
            type: string
        sorting:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest.SortingFieldViewModel'
        hideCount:
          type: boolean
    Falconetix.Model.RuleEngine.Entities.AssessmentHistoryMinimizedEntity:
      type: object
      properties:
        dome9Id:
          type: string
        name:
          type: string
        category:
          type: string
        region:
          type: string
        vpc:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.VpcMinimizedEntity'
        network:
          type: string
        virtualNetwork:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.TagRuleEntity'
        accountNumber:
          type: string
        vendorIdentifier:
          type: string
        id:
          type: string
        type:
          type: string
    Falconetix.Model.RuleEngine.ViewModels.Assessment.AssessmentDataSyncStatusEntityViewModel:
      type: object
      properties:
        entityType:
          type: string
        recentlySuccessfulSync:
          type: boolean
        generalFetchPermissionIssues:
          type: boolean
        entitiesWithPermissionIssues:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.RuleEngine.ViewModels.Assessment.EntityWithPermissionIssueViewModel'
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
