openapi: 3.2.0
info:
  version: v2
  title: Dome9. Cloud Trail API
  description: CloudTrail
servers:
- url: https://api.dome9.com
tags:
- name: Cloud Trail
  description: CloudTrail
  type: InventoryAwsManagementTools
paths:
  /v2/CloudTrail:
    get:
      tags:
      - Cloud Trail
      summary: Get CloudTrail events for a Dome9 user
      operationId: CloudTrail_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudTrail.CloudTrailViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudTrail.CloudTrailViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudTrail.CloudTrailViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudTrail.CloudTrailViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudTrail.CloudTrailViewModel'
components:
  schemas:
    Dome9.Web.Api.CloudTrail.CloudTrailStatusViewModel:
      type: object
      properties:
        isLogging:
          description: 'Gets and sets the property IsLogging.

            Whether the CloudTrail is currently logging AWS API calls.'
          type: boolean
        latestCloudWatchLogsDeliveryError:
          description: 'Gets and sets the property LatestCloudWatchLogsDeliveryError.

            Displays any CloudWatch Logs error that CloudTrail encountered when attempting

            to deliver logs to CloudWatch Logs.'
          type: string
        latestCloudWatchLogsDeliveryTime:
          format: date-time
          description: 'Gets and sets the property LatestCloudWatchLogsDeliveryTime.

            Displays the most recent date and time when CloudTrail delivered logs to

            CloudWatch Logs.'
          type: string
        latestDeliveryAttemptSucceeded:
          description: 'Gets and sets the property LatestDeliveryAttemptSucceeded.

            This field is deprecated.'
          type: string
        latestDeliveryAttemptTime:
          description: 'Gets and sets the property LatestDeliveryAttemptTime.

            This field is deprecated.'
          type: string
        latestDeliveryError:
          description: 'Gets and sets the property LatestDeliveryError.

            Displays any Amazon S3 error that CloudTrail encountered when attempting

            to deliver log files to the designated bucket. For more information see the

            topic Error Responses in the Amazon S3 API Reference.

            This error occurs only when there is a problem with the destination S3 bucket

            and will not occur for timeouts. To resolve the issue, create a new bucket

            and call UpdateTrail to specify the new bucket, or fix the existing objects

            so that CloudTrail can again write to the bucket.'
          type: string
        latestDeliveryTime:
          format: date-time
          description: 'Gets and sets the property LatestDeliveryTime.

            Specifies the date and time that CloudTrail last delivered log files to an

            account''s Amazon S3 bucket.'
          type: string
        latestDigestDeliveryError:
          description: 'Gets and sets the property LatestDigestDeliveryError.

            Displays any Amazon S3 error that CloudTrail encountered when attempting

            to deliver a digest file to the designated bucket. For more information see

            the topic Error Responses in the Amazon S3 API Reference.

            This error occurs only when there is a problem with the destination S3 bucket

            and will not occur for timeouts. To resolve the issue, create a new bucket

            and call UpdateTrail to specify the new bucket, or fix the existing objects

            so that CloudTrail can again write to the bucket.'
          type: string
        latestDigestDeliveryTime:
          format: date-time
          description: 'Gets and sets the property LatestDigestDeliveryTime.

            Specifies the date and time that CloudTrail last delivered a digest file

            to an account''s Amazon S3 bucket.'
          type: string
        latestNotificationAttemptSucceeded:
          description: 'Gets and sets the property LatestNotificationAttemptSucceeded.

            This field is deprecated.'
          type: string
        latestNotificationAttemptTime:
          description: 'Gets and sets the property LatestNotificationAttemptTime.

            This field is deprecated.'
          type: string
        latestNotificationError:
          description: 'Gets and sets the property LatestNotificationError.

            Displays any Amazon SNS error that CloudTrail encountered when attempting

            to send a notification. For more information about Amazon SNS errors, see

            the Amazon SNS Developer Guide.'
          type: string
        latestNotificationTime:
          format: date-time
          description: 'Gets and sets the property LatestNotificationTime.

            Specifies the date and time of the most recent Amazon SNS notification that

            CloudTrail has written a new log file to an account''s Amazon S3 bucket.'
          type: string
        startLoggingTime:
          format: date-time
          description: 'Gets and sets the property StartLoggingTime.

            Specifies the most recent date and time when CloudTrail started recording

            API calls for an AWS account.'
          type: string
        stopLoggingTime:
          format: date-time
          description: 'Gets and sets the property StopLoggingTime.

            Specifies the most recent date and time when CloudTrail stopped recording

            API calls for an AWS account.'
          type: string
        timeLoggingStarted:
          description: 'Gets and sets the property TimeLoggingStarted.

            This field is deprecated.'
          type: string
        timeLoggingStopped:
          description: 'Gets and sets the property TimeLoggingStopped.

            This field is deprecated.'
          type: string
        externalId:
          description: ExternalId
          type: string
    Dome9.Web.Api.CloudTrail.CloudTrailViewModel:
      type: object
      properties:
        id:
          description: Id
          type: string
          readOnly: true
        externalId:
          description: ExternalId
          type: string
          readOnly: true
        name:
          description: Name
          type: string
          readOnly: true
        region:
          description: Region
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          description: AccountId
          type: integer
          readOnly: true
        cloudWatchLogsLogGroupArn:
          description: 'Gets and sets the property CloudWatchLogsLogGroupArn.

            Specifies an Amazon Resource Name (ARN), a unique identifier that represents

            the log group to which CloudTrail logs will be delivered.'
          type: string
        cloudWatchLogsRoleArn:
          description: 'Gets and sets the property CloudWatchLogsRoleArn.

            Specifies the role for the CloudWatch Logs endpoint to assume to write to

            a user''s log group.'
          type: string
        homeRegion:
          description: 'Gets and sets the property HomeRegion.

            The region in which the trail was created.'
          type: string
        includeGlobalServiceEvents:
          description: "Gets and sets the property IncludeGlobalServiceEvents.\nSet to True to include AWS API calls from AWS global services such as IAM.\n Otherwise, False."
          type: boolean
        isMultiRegionTrail:
          description: 'Gets and sets the property IsMultiRegionTrail.

            Specifies whether the trail belongs only to one region or exists in all regions.'
          type: boolean
        kmsKeyId:
          description: 'Gets and sets the property KmsKeyId.

            Specifies the KMS key ID that encrypts the logs delivered by CloudTrail.

            The value is a fully specified ARN to a KMS key in the format:

            arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012'
          type: string
        logFileValidationEnabled:
          description: 'Gets and sets the property LogFileValidationEnabled.

            Specifies whether log file validation is enabled.'
          type: boolean
        s3BucketName:
          description: 'Gets and sets the property S3BucketName.

            Name of the Amazon S3 bucket into which CloudTrail delivers your trail files.

            See Amazon S3 Bucket Naming Requirements.'
          type: string
        s3KeyPrefix:
          description: 'Gets and sets the property S3KeyPrefix.

            Specifies the Amazon S3 key prefix that comes after the name of the bucket

            you have designated for log file delivery. For more information, see Finding

            Your CloudTrail Log Files.The maximum length is 200 characters.'
          type: string
        snsTopicArn:
          description: 'Gets and sets the property SnsTopicARN.

            Specifies the ARN of the Amazon SNS topic that CloudTrail uses to send notifications

            when log files are delivered. The format of a topic ARN is:

            arn:aws:sns:us-east-1:123456789012:MyTopic'
          type: string
        snsTopicName:
          description: 'Gets and sets the property SnsTopicName.

            This field is deprecated. Use SnsTopicARN.'
          type: string
        trailArn:
          description: 'Gets and sets the property TrailARN.

            Specifies the ARN of the trail. The format of a trail ARN is:

            arn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail'
          type: string
        cloudTrailStatus:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudTrail.CloudTrailStatusViewModel'
          description: CloudTrail status
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
