openapi: 3.2.0
info:
  version: v2
  title: Dome9. Cloud Metric Alarm API
servers:
- url: https://api.dome9.com
tags:
- name: Cloud Metric Alarm
  type: InventoryAwsManagementTools
paths:
  /v2/CloudMetricAlarm:
    get:
      tags:
      - Cloud Metric Alarm
      operationId: CloudMetricAlarm_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmViewModel'
      summary: Cloud metric alarm get
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmDimension:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmViewModel:
      type: object
      properties:
        id:
          description: Id
          type: string
          readOnly: true
        externalId:
          description: ExternalId
          type: string
          readOnly: true
        name:
          description: Name
          type: string
          readOnly: true
        region:
          description: Region
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          description: AccountId
          type: integer
          readOnly: true
        actionsEnabled:
          type: boolean
        alarmActions:
          description: 'Gets and sets the property AlarmActions.

            The list of actions to execute when this alarm transitions into an ALARM

            state from any other state. Each action is specified as an Amazon Resource

            Name (ARN).'
          type: array
          items:
            type: string
        alarmArn:
          description: 'Gets and sets the property AlarmArn.

            The Amazon Resource Name (ARN) of the alarm.'
          type: string
        alarmConfigurationUpdatedTimestamp:
          format: date-time
          description: 'Gets and sets the property AlarmConfigurationUpdatedTimestamp.

            The time stamp of the last update to the alarm configuration.'
          type: string
        alarmDescription:
          description: 'Gets and sets the property AlarmDescription.

            The description for the alarm.'
          type: string
        alarmName:
          description: 'Gets and sets the property AlarmName.

            The name of the alarm.'
          type: string
        comparisonOperator:
          description: 'Gets and sets the property ComparisonOperator.

            The arithmetic operation to use when comparing the specified Statistic and

            Threshold. The specified Statistic value is used as the first operand.'
          type: string
        dimensions:
          description: 'Gets and sets the property Dimensions.

            The list of dimensions associated with the alarm''s associated metric.'
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmDimension'
        evaluationPeriods:
          format: int32
          description: 'Gets and sets the property EvaluationPeriods.

            The number of periods over which data is compared to the specified threshold.'
          type: integer
        insufficientDataActions:
          description: 'Gets and sets the property InsufficientDataActions.

            The list of actions to execute when this alarm transitions into an INSUFFICIENT_DATA

            state from any other state. Each action is specified as an Amazon Resource

            Name (ARN).

            The current WSDL lists this attribute as UnknownActions.'
          type: array
          items:
            type: string
        metricName:
          description: 'Gets and sets the property MetricName.

            The name of the alarm''s metric.'
          type: string
        namespace:
          description: 'Gets and sets the property Namespace.

            The namespace of alarm''s associated metric.'
          type: string
        okActions:
          description: 'Gets and sets the property OKActions.

            The list of actions to execute when this alarm transitions into an OK state

            from any other state. Each action is specified as an Amazon Resource Name

            (ARN).'
          type: array
          items:
            type: string
        period:
          format: int32
          description: 'Gets and sets the property Period.

            The period in seconds over which the statistic is applied.'
          type: integer
        stateReason:
          description: 'Gets and sets the property StateReason.

            A human-readable explanation for the alarm''s state.'
          type: string
        stateReasonData:
          description: 'Gets and sets the property StateReasonData.

            An explanation for the alarm''s state in machine-readable JSON format'
          type: string
        stateUpdatedTimestamp:
          format: date-time
          description: 'Gets and sets the property StateUpdatedTimestamp.

            The time stamp of the last update to the alarm''s state.'
          type: string
        stateValue:
          description: 'Gets and sets the property StateValue.

            The state value for the alarm.'
          type: string
        statistic:
          description: 'Gets and sets the property Statistic.

            The statistic to apply to the alarm''s associated metric.'
          type: string
        threshold:
          format: double
          description: 'Gets and sets the property Threshold.

            The value against which the specified statistic is compared.'
          type: number
        unit:
          description: 'Gets and sets the property Unit.

            The unit of the alarm''s associated metric.'
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
