openapi: 3.2.0
info:
  version: v2
  title: Dome9. Emergency Policy API
servers:
- url: https://api.dome9.com
tags:
- name: EmergencyPolicy
  type: Unclassified
paths:
  /v2/emergency-policy/timeout:
    put:
      tags:
      - EmergencyPolicy
      operationId: EmergencyPolicy_UpdateEmergencyPolicyTimeout
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              format: int32
              type: integer
          text/json:
            schema:
              format: int32
              type: integer
          text/html:
            schema:
              format: int32
              type: integer
          application/xml:
            schema:
              format: int32
              type: integer
          text/xml:
            schema:
              format: int32
              type: integer
          application/x-www-form-urlencoded:
            schema:
              format: int32
              type: integer
        required: true
      summary: Emergency policy update emergency policy timeout
      x-summary-source: derived
  /v2/emergency-policy/services/{id}:
    put:
      tags:
      - EmergencyPolicy
      operationId: EmergencyPolicy_PutService
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
        required: true
      summary: Emergency policy put service
      x-summary-source: derived
    delete:
      tags:
      - EmergencyPolicy
      operationId: EmergencyPolicy_DeleteService
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Emergency policy delete service
      x-summary-source: derived
  /v2/emergency-policy/services:
    post:
      tags:
      - EmergencyPolicy
      operationId: EmergencyPolicy_PostService
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortEditViewModel'
        required: true
      summary: Emergency policy post service
      x-summary-source: derived
  /v2/emergency-policy:
    get:
      tags:
      - EmergencyPolicy
      operationId: EmergencyPolicy_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.EmergencyPolicyViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.EmergencyPolicyViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.EmergencyPolicyViewModel'
      summary: Emergency policy get
      x-summary-source: derived
    patch:
      tags:
      - EmergencyPolicy
      operationId: EmergencyPolicy_Patch
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.EmergencyPolicyPatchViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.EmergencyPolicyPatchViewModel'
          text/html:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.EmergencyPolicyPatchViewModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.EmergencyPolicyPatchViewModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.EmergencyPolicyPatchViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.EmergencyPolicyPatchViewModel'
        required: true
      summary: Emergency policy patch
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.Models.ServicePortEditViewModel:
      required:
      - portRange
      type: object
      properties:
        portRange:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.PortRangeViewModel'
        protocol:
          enum:
          - ALL
          - HOPOPT
          - ICMP
          - IGMP
          - GGP
          - IPV4
          - ST
          - TCP
          - CBT
          - EGP
          - IGP
          - BBN_RCC_MON
          - NVP2
          - PUP
          - ARGUS
          - EMCON
          - XNET
          - CHAOS
          - UDP
          - MUX
          - DCN_MEAS
          - HMP
          - PRM
          - XNS_IDP
          - TRUNK1
          - TRUNK2
          - LEAF1
          - LEAF2
          - RDP
          - IRTP
          - ISO_TP4
          - NETBLT
          - MFE_NSP
          - MERIT_INP
          - DCCP
          - ThreePC
          - IDPR
          - XTP
          - DDP
          - IDPR_CMTP
          - TPplusplus
          - IL
          - IPV6
          - SDRP
          - IPV6_ROUTE
          - IPV6_FRAG
          - IDRP
          - RSVP
          - GRE
          - DSR
          - BNA
          - ESP
          - AH
          - I_NLSP
          - SWIPE
          - NARP
          - MOBILE
          - TLSP
          - SKIP
          - ICMPV6
          - IPV6_NONXT
          - IPV6_OPTS
          - CFTP
          - SAT_EXPAK
          - KRYPTOLAN
          - RVD
          - IPPC
          - SAT_MON
          - VISA
          - IPCV
          - CPNX
          - CPHB
          - WSN
          - PVP
          - BR_SAT_MON
          - SUN_ND
          - WB_MON
          - WB_EXPAK
          - ISO_IP
          - VMTP
          - SECURE_VMTP
          - VINES
          - TTP
          - NSFNET_IGP
          - DGP
          - TCF
          - EIGRP
          - OSPFIGP
          - SPRITE_RPC
          - LARP
          - MTP
          - AX25
          - IPIP
          - MICP
          - SCC_SP
          - ETHERIP
          - ENCAP
          - GMTP
          - IFMP
          - PNNI
          - PIM
          - ARIS
          - SCPS
          - QNX
          - AN
          - IPCOMP
          - SNP
          - COMPAQ_PEER
          - IPX_IN_IP
          - VRRP
          - PGM
          - L2TP
          - DDX
          - IATP
          - STP
          - SRP
          - UTI
          - SMP
          - SM
          - PTP
          - ISIS
          - FIRE
          - CRTP
          - CRUDP
          - SSCOPMCE
          - IPLT
          - SPS
          - PIPE
          - SCTP
          - FC
          - RSVP_E2E_IGNORE
          - MOBILITY_HEADER
          - UDPLITE
          - MPLS_IN_IP
          - MANET
          - HIP
          - SHIM6
          - WESP
          - ROHC
          type: string
        name:
          type: string
        description:
          type: string
        protected:
          type: boolean
        scope:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.ScopeViewModel'
    Dome9.Web.Api.Models.PortRangeViewModel:
      type: object
      properties:
        from:
          format: int32
          type: integer
        to:
          format: int32
          type: integer
    Dome9.Web.Api.Models.ScopeViewModel:
      type: object
      properties:
        type:
          enum:
          - CIDR
          - DNS
          - IPList
          - MagicIP
          - AWS
          - Tag
          - ASG
          - CIDRv6
          - PrefixList
          type: string
        data:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.Models.ServicePortViewModel:
      type: object
      properties:
        id:
          type: string
        portRange:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.PortRangeViewModel'
        protocol:
          enum:
          - ALL
          - HOPOPT
          - ICMP
          - IGMP
          - GGP
          - IPV4
          - ST
          - TCP
          - CBT
          - EGP
          - IGP
          - BBN_RCC_MON
          - NVP2
          - PUP
          - ARGUS
          - EMCON
          - XNET
          - CHAOS
          - UDP
          - MUX
          - DCN_MEAS
          - HMP
          - PRM
          - XNS_IDP
          - TRUNK1
          - TRUNK2
          - LEAF1
          - LEAF2
          - RDP
          - IRTP
          - ISO_TP4
          - NETBLT
          - MFE_NSP
          - MERIT_INP
          - DCCP
          - ThreePC
          - IDPR
          - XTP
          - DDP
          - IDPR_CMTP
          - TPplusplus
          - IL
          - IPV6
          - SDRP
          - IPV6_ROUTE
          - IPV6_FRAG
          - IDRP
          - RSVP
          - GRE
          - DSR
          - BNA
          - ESP
          - AH
          - I_NLSP
          - SWIPE
          - NARP
          - MOBILE
          - TLSP
          - SKIP
          - ICMPV6
          - IPV6_NONXT
          - IPV6_OPTS
          - CFTP
          - SAT_EXPAK
          - KRYPTOLAN
          - RVD
          - IPPC
          - SAT_MON
          - VISA
          - IPCV
          - CPNX
          - CPHB
          - WSN
          - PVP
          - BR_SAT_MON
          - SUN_ND
          - WB_MON
          - WB_EXPAK
          - ISO_IP
          - VMTP
          - SECURE_VMTP
          - VINES
          - TTP
          - NSFNET_IGP
          - DGP
          - TCF
          - EIGRP
          - OSPFIGP
          - SPRITE_RPC
          - LARP
          - MTP
          - AX25
          - IPIP
          - MICP
          - SCC_SP
          - ETHERIP
          - ENCAP
          - GMTP
          - IFMP
          - PNNI
          - PIM
          - ARIS
          - SCPS
          - QNX
          - AN
          - IPCOMP
          - SNP
          - COMPAQ_PEER
          - IPX_IN_IP
          - VRRP
          - PGM
          - L2TP
          - DDX
          - IATP
          - STP
          - SRP
          - UTI
          - SMP
          - SM
          - PTP
          - ISIS
          - FIRE
          - CRTP
          - CRUDP
          - SSCOPMCE
          - IPLT
          - SPS
          - PIPE
          - SCTP
          - FC
          - RSVP_E2E_IGNORE
          - MOBILITY_HEADER
          - UDPLITE
          - MPLS_IN_IP
          - MANET
          - HIP
          - SHIM6
          - WESP
          - ROHC
          type: string
        name:
          type: string
        description:
          type: string
        protected:
          type: boolean
        canDelete:
          type: boolean
        scope:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.ScopeViewModel'
    Dome9.Web.Api.Models.EmergencyPolicyPatchViewModel:
      type: object
      properties:
        timeout:
          type: string
    Dome9.Web.Api.Models.EmergencyPolicyViewModel:
      type: object
      properties:
        timeout:
          format: int32
          type: integer
        services:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.ServicePortViewModel'
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
