openapi: 3.2.0
info:
  version: v2
  title: Dome9. Azure Subnet API
servers:
- url: https://api.dome9.com
tags:
- name: Azure Subnet
  type: InventoryAzure
paths:
  /v2/AzureSubnet:
    get:
      tags:
      - Azure Subnet
      operationId: AzureSubnet_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureSubnetViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureSubnetViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureSubnetViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureSubnetViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureSubnetViewModel'
      summary: Azure subnet get
      x-summary-source: derived
  /v2/AzureSubnet/{id}:
    get:
      tags:
      - Azure Subnet
      operationId: AzureSubnet_Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureSubnetViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureSubnetViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureSubnetViewModel'
      summary: Azure subnet get
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.Models.AzureSubnetViewModel:
      type: object
      properties:
        id:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        virtualNetworkId:
          type: string
        virtualNetworkName:
          type: string
        cidrBlock:
          type: string
        addressRanges:
          type: array
          items:
            type: string
        networkSecurityGroup:
          type: string
        routeTable:
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
