openapi: 3.2.0
info:
  version: v2
  title: Dome9. Serverless Policy API
  description: Serverless policy
servers:
- url: https://api.dome9.com
tags:
- name: Serverless Policy
  description: Serverless policy
  type: WorkloadProtection
paths:
  /v2/serverless/policy/{id}:
    get:
      tags:
      - Serverless Policy
      summary: Get single policy by its ID. Returns a policy matching a given ID
      operationId: ServerlessPolicy_GetAsync
      parameters:
      - name: id
        in: path
        description: Policy's ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
    delete:
      tags:
      - Serverless Policy
      summary: Delete policy by its ID
      operationId: ServerlessPolicy_DeleteAsync
      parameters:
      - name: id
        in: path
        description: Policy's ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
  /v2/serverless/policy:
    get:
      tags:
      - Serverless Policy
      summary: Get all policies for the requesting account. Returns a collection of policies
      operationId: ServerlessPolicy_GetAsync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
    put:
      tags:
      - Serverless Policy
      summary: Update policies.
      operationId: ServerlessPolicy_PutAsync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          text/html:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
        description: Policies to update
        required: true
    post:
      tags:
      - Serverless Policy
      summary: Create new policies.
      operationId: ServerlessPolicy_PostAsync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          text/html:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
        description: Policies to create
        required: true
components:
  schemas:
    Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel:
      type: object
      properties:
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        topic:
          enum:
          - TASK
          - SECURITY_EVENT
          - MANAGEMENT
          type: string
        notificationIds:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        provider:
          enum:
          - aws
          - azure
          - kubernetes
          type: string
        errorMessage:
          type: string
    Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel:
      required:
      - cloudAccountId
      - topic
      - notificationIds
      type: object
      properties:
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        topic:
          enum:
          - TASK
          - SECURITY_EVENT
          - MANAGEMENT
          type: string
        notificationIds:
          type: array
          items:
            format: uuid
            type: string
            example: 00000000-0000-0000-0000-000000000000
        provider:
          enum:
          - aws
          - azure
          - kubernetes
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
