openapi: 3.2.0
info:
  version: v2
  title: Dome9. Cloud Ecs Cluster API
servers:
- url: https://api.dome9.com
tags:
- name: Cloud Ecs Cluster
  type: InventoryAwsComputeAndContainers
paths:
  /v2/CloudEcsCluster:
    get:
      tags:
      - Cloud Ecs Cluster
      operationId: CloudEcsCluster_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudEcsClusterViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudEcsClusterViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudEcsClusterViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudEcsClusterViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudEcsClusterViewModel'
      summary: Cloud ecs cluster get
      x-summary-source: derived
components:
  schemas:
    Dome9.Web.Api.AwsECSDeploymentConfigurationViewModel:
      type: object
      properties:
        maximumPercent:
          format: int32
          type: integer
        minimumHealthyPercent:
          format: int32
          type: integer
    Dome9.Web.Api.AwsECSPlacementStrategyViewModel:
      type: object
      properties:
        field:
          type: string
        type:
          type: string
    Dome9.Web.Api.AwsECSDeploymentViewModel:
      type: object
      properties:
        createdAt:
          format: date-time
          type: string
        desiredCount:
          format: int32
          type: integer
        id:
          type: string
        pendingCount:
          format: int32
          type: integer
        runningCount:
          format: int32
          type: integer
        status:
          type: string
        taskDefinition:
          type: string
        updatedAt:
          format: date-time
          type: string
    Dome9.Web.Api.CloudEcsClusterViewModel.ContainerInstance:
      type: object
      properties:
        agentConnected:
          type: boolean
        agentUpdateStatus:
          type: string
        containerInstanceArn:
          type: string
        ec2InstanceId:
          type: string
        pendingTasksCount:
          format: int32
          type: integer
        registeredResources:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudEcsClusterViewModel.ContainerInstance.Resource'
        remainingResources:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudEcsClusterViewModel.ContainerInstance.Resource'
        runningTasksCount:
          format: int32
          type: integer
        status:
          type: string
        version:
          format: int64
          type: integer
        versionInfo:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudEcsClusterViewModel.ContainerInstance.ContainerInstanceVersionInfo'
    Dome9.Web.Api.CloudEcsClusterViewModel:
      type: object
      properties:
        containerInstances:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudEcsClusterViewModel.ContainerInstance'
        services:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudECSServiceViewModel'
        id:
          description: Id
          type: string
        externalId:
          description: ExternalId
          type: string
        name:
          description: Name
          type: string
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          example: 00000000-0000-0000-0000-000000000000
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
          readOnly: true
        accountId:
          format: int64
          description: AccountId
          type: integer
        externalAccountNumber:
          description: External account number
          type: string
        activeServicesCount:
          format: int32
          description: "Gets and sets the property ActiveServicesCount. \n<para>\nThe number of services that are running on the cluster in an <code>ACTIVE</code> state.\nYou can view these services with <a>ListServices</a>.\n</para>"
          type: integer
        clusterArn:
          description: "Gets and sets the property ClusterArn. \n<para>\nThe Amazon Resource Name (ARN) that identifies the cluster. The ARN contains the <code>arn:aws:ecs</code>\nnamespace, followed by the region of the cluster, the AWS account ID of the cluster\nowner, the <code>cluster</code> namespace, and then the cluster name. For example,\n<code>arn:aws:ecs:<i>region</i>:<i>012345678910</i>:cluster/<i>test</i></code>..\n</para>"
          type: string
        clusterName:
          description: "Gets and sets the property ClusterName. \n<para>\nA user-generated string that you use to identify your cluster.\n</para>"
          type: string
        pendingTasksCount:
          format: int32
          description: "Gets and sets the property PendingTasksCount. \n<para>\nThe number of tasks in the cluster that are in the <code>PENDING</code> state.\n</para>"
          type: integer
        registeredContainerInstancesCount:
          format: int32
          description: "Gets and sets the property RegisteredContainerInstancesCount. \n<para>\nThe number of container instances registered into the cluster.\n</para>"
          type: integer
        runningTasksCount:
          format: int32
          description: "Gets and sets the property RunningTasksCount. \n<para>\nThe number of tasks in the cluster that are in the <code>RUNNING</code> state.\n</para>"
          type: integer
        status:
          description: "Gets and sets the property Status. \n<para>\nThe status of the cluster. The valid values are <code>ACTIVE</code> or <code>INACTIVE</code>.\n<code>ACTIVE</code> indicates that you can register container instances with the cluster\nand the associated instances can accept tasks.\n</para>"
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.CloudEcsClusterViewModel.ContainerInstance.Resource:
      type: object
      properties:
        name:
          type: string
        value:
          type: object
    Dome9.Web.Api.AwsECSPlacementConstraintViewModel:
      type: object
      properties:
        expression:
          type: string
        type:
          type: string
    Dome9.Web.Api.AwsECSLoadBalancerViewModel:
      type: object
      properties:
        containerName:
          type: string
        containerPort:
          format: int32
          type: integer
        loadBalancerName:
          type: string
        targetGroupArn:
          type: string
    Dome9.Web.Api.CloudEcsClusterViewModel.ContainerInstance.ContainerInstanceVersionInfo:
      type: object
      properties:
        agentHash:
          type: string
        agentVersion:
          type: string
        dockerVersion:
          type: string
    Dome9.Web.Api.CloudECSServiceViewModel:
      type: object
      properties:
        deploymentConfiguration:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsECSDeploymentConfigurationViewModel'
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsECSDeploymentViewModel'
        desiredCount:
          format: int32
          type: integer
        loadBalancers:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsECSLoadBalancerViewModel'
        pendingCount:
          format: int32
          type: integer
        placementConstraints:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsECSPlacementConstraintViewModel'
        placementStrategy:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsECSPlacementStrategyViewModel'
        roleArn:
          type: string
        runningCount:
          format: int32
          type: integer
        serviceArn:
          type: string
        serviceName:
          type: string
        status:
          type: string
        clusterArn:
          type: string
        createdAt:
          format: date-time
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
