openapi: 3.2.0
info:
  version: v2
  title: Dome9. Cloud Iam Password Policy API
servers:
- url: https://api.dome9.com
tags:
- name: Cloud Iam Password Policy
  type: InventoryAwsIam
paths:
  /v2/CloudIamPasswordPolicy:
    get:
      tags:
      - Cloud Iam Password Policy
      summary: Fetch all IAM roles for the user from all cloud accounts
      operationId: CloudIamPasswordPolicy_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamPasswordPolicy'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamPasswordPolicy'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamPasswordPolicy'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamPasswordPolicy'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamPasswordPolicy'
components:
  schemas:
    Dome9.Web.Api.Models.CloudIamPasswordPolicy:
      type: object
      properties:
        externalId:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        enabledInAccount:
          type: boolean
        requireNumbers:
          type: boolean
        requireSymbols:
          type: boolean
        requireLowercaseCharacter:
          type: boolean
        requireUppercaseCharacter:
          type: boolean
        minPasswordLength:
          format: int32
          type: integer
        allowUsersToChangePasswords:
          type: boolean
        hardExpiry:
          type: boolean
        maxPasswordAge:
          format: int32
          type: integer
        expirePasswords:
          type: boolean
        passwordReusePrevention:
          format: int32
          type: integer
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
