openapi: 3.2.0
info:
  version: v2
  title: Dome9. Gcp Kms Key Ring API
servers:
- url: https://api.dome9.com
tags:
- name: GcpKmsKeyRing
  type: Unclassified
paths:
  /v2/GcpKmsKeyRing:
    get:
      tags:
      - GcpKmsKeyRing
      summary: get all key rings, if name specified return this key ring
      operationId: GcpKmsKeyRing_Get
      parameters:
      - name: name
        in: query
        description: Key Ring name - to get a specific Key Ring
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsKeyRingViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsKeyRingViewModel'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsKeyRingViewModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsKeyRingViewModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsKeyRingViewModel'
components:
  schemas:
    Dome9.Web.Api.Google.Kms.GcpKmsKeyRingViewModel:
      type: object
      properties:
        cryptoKeys:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsKeyRingCryptoKeyViewModel'
        iamPolicy:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyViewModel'
        region:
          type: string
        id:
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
    Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyBindingViewModel:
      type: object
      properties:
        condition:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyExprViewModel'
        members:
          type: array
          items:
            type: string
        role:
          type: string
        eTag:
          type: string
    Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyViewModel:
      type: object
      properties:
        auditConfigs:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyAuditConfigViewModel'
        bindings:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyBindingViewModel'
        eTag:
          type: string
        version:
          format: int32
          type: integer
    Dome9.Web.Api.Google.Kms.GcpKmsKeyRingCryptoKeyViewModel:
      type: object
      properties:
        eTag:
          type: string
        createTime:
          type: string
        name:
          type: string
        primary:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsKeyRingCryptoKeyVersionViewModel'
        purpose:
          type: string
        rotationPeriod:
          type: string
        rotationPeriodInDays:
          format: int32
          type: integer
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsKeyRingLabelViewModel'
        nextRotationTime:
          type: string
        iamPolicy:
          $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyViewModel'
    Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyAuditLogConfigViewModel:
      type: object
      properties:
        exemptedMembers:
          type: array
          items:
            type: string
        logType:
          type: string
        eTag:
          type: string
    Dome9.Web.Api.Google.Kms.GcpKmsKeyRingLabelViewModel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyExprViewModel:
      type: object
      properties:
        description:
          type: string
        expression:
          type: string
        location:
          type: string
        title:
          type: string
        eTag:
          type: string
    Dome9.Web.Api.Google.Kms.GcpKmsKeyRingCryptoKeyVersionViewModel:
      type: object
      properties:
        eTag:
          type: string
        name:
          type: string
        createTime:
          type: string
        destroyTime:
          type: string
        destroyEventTime:
          type: string
        protectionLevel:
          type: string
        state:
          type: string
    Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyAuditConfigViewModel:
      type: object
      properties:
        auditLogConfigs:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Google.Kms.GcpKmsIamPolicyAuditLogConfigViewModel'
        service:
          type: string
        eTag:
          type: string
  securitySchemes:
    API_key_V2:
      type: http
      scheme: basic
