{"swagger":"2.0","info":{"version":"v2","title":"Dome9.API"},"host":"api.dome9.com","schemes":["https"],"paths":{"/v2/accesslease/aws":{"post":{"tags":["AccessLease"],"summary":"Create a new Access Lease for an AWS service","operationId":"AccessLease_AcquireAwsLease","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"lease","in":"body","description":"details for the lease","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AwsAccessLeasePostViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/AccessLease":{"get":{"tags":["AccessLease"],"summary":"Get a list of all active Access Leases","operationId":"AccessLease_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AccessLeasesGroupedViewModel"}}}}},"/v2/AccessLease/{id}":{"delete":{"tags":["AccessLease"],"summary":"Terminate an Access Lease","operationId":"AccessLease_Delete","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"the id of the lease to terminate","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/v2/access-lease-invitation/access/{invitationId}":{"get":{"tags":["AccessLeaseInvitation"],"summary":"Get a specific invitation","operationId":"AccessLeaseInvitation_AccessInvitation","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"invitationId","in":"path","description":"the id of the invitation","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/AccessLeaseInvitation":{"get":{"tags":["AccessLeaseInvitation"],"summary":"Get a list of pending invitations (invitations not yet activated)","description":"These are invitations that have not yet been activated","operationId":"AccessLeaseInvitation_GetPendingInvitations","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Models.AccessLeaseInvitationViewModel"}}}}},"post":{"tags":["AccessLeaseInvitation"],"summary":"Create a new Lease Invitation","operationId":"AccessLeaseInvitation_CreateInvitationAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"leaseInvitation","in":"body","description":"lease invitation details","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AccessLeaseInvitationViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/AccessLeaseInvitation/{id}":{"delete":{"tags":["AccessLeaseInvitation"],"summary":"Delete a lease invitation","operationId":"AccessLeaseInvitation_Delete","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"the id of the lease to delete","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/v2/account/managing":{"get":{"tags":["Account"],"summary":"gets the MSP account who manages this one. returns error (404) if no managing account (regular Dome9 account)","operationId":"Account_GetManagingAccount","consumes":[],"produces":["application/json","text/json","text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.ManagingAccountViewModel"}}}}},"/v2/account/resetAll":{"put":{"tags":["Account"],"operationId":"Account_ResetAllCloudAccountsMissingPermissions","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/account/stats":{"get":{"tags":["Account"],"operationId":"Account_GetAccountStats","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"dbOnly","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AccountStatsViewModel"}}}}},"/v2/account/plan-contact-details":{"put":{"tags":["Account"],"summary":"","operationId":"Account_Plan","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"contactData","in":"body","required":true,"schema":{"$ref":"#/definitions/Falconetix.Model.Licensing.UpdatePlanContactDetailsModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/account/plan":{"put":{"tags":["Account"],"summary":"","operationId":"Account_Plan","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"plan","in":"body","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/account/azuremarketplace":{"put":{"tags":["Account"],"operationId":"Account_ActivateAzureMarketplace","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AccountMarketplacePutViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/account/marketplace":{"put":{"tags":["Account"],"operationId":"Account_ActivateMarketplace","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AccountMarketplacePutViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/account/name":{"put":{"tags":["Account"],"operationId":"Account_PutName","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"name","in":"body","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/account/UseDefaultExternalId":{"put":{"tags":["Account"],"operationId":"Account_UseDefaultExternalId","consumes":[],"produces":[],"parameters":[{"name":"useDefaultKey","in":"query","required":false,"type":"boolean"}],"responses":{"204":{"description":"No Content"}}}},"/v2/account/AllowEditExternalId":{"put":{"tags":["Account"],"operationId":"Account_AllowEditExternalId","consumes":[],"produces":[],"parameters":[{"name":"allowEditKey","in":"query","required":false,"type":"boolean"}],"responses":{"204":{"description":"No Content"}}}},"/v2/account/owner":{"put":{"tags":["Account"],"summary":"sets a user as an account owner","operationId":"Account_PutOwnerAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Account.AccountOwnerViewModel"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/account/extendtrial":{"put":{"tags":["Account"],"operationId":"Account_ExtendTrial","consumes":[],"produces":[],"responses":{"204":{"description":"No Content"}}}},"/v2/account/sso":{"get":{"tags":["Account"],"operationId":"Account_GetSSO","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AccountSSOConfigViewModel"}}}},"put":{"tags":["Account"],"operationId":"Account_PutSSO","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AccountSSOConfigViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Account"],"operationId":"Account_DeleteSSO","consumes":[],"produces":[],"responses":{"204":{"description":"No Content"}}}},"/v2/account/cross-account-identifier":{"put":{"tags":["Account"],"operationId":"Account_PutCrossAccountIdentifier","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.CrossAccountIdentifierViewModel"}}}}},"/v2/account/daily-usage":{"get":{"tags":["Account"],"operationId":"Account_GetUsage","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"fromDate","in":"query","required":true,"type":"string","format":"date-time"},{"name":"toDate","in":"query","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Account.AccountUsageViewModel"}}}}}},"/v2/account/exceeding-resources":{"get":{"tags":["Account"],"operationId":"Account_GetExceedingResources","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.ExceedingLicenseViewModel"}}}}},"/v2/account/license":{"get":{"tags":["Account"],"operationId":"Account_GetAccountLicense","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.LicenseViewModel"}}}}},"/v2/account/max-invalid-password-attempts":{"put":{"tags":["Account"],"operationId":"Account_PutMaxInvalidPasswordAttemptsAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Account.MaxInvalidPasswordAttemptsViewModel"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/account/session-idle-timeout-minutes":{"put":{"tags":["Account"],"summary":"Set the session idle timeout","operationId":"Account_PutSessionIdleTimeoutMinutesAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Account.SessionIdleTimeoutMinutesViewModel"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/account/email-filters":{"get":{"tags":["Account"],"operationId":"Account_GetAccountEmailFilters","consumes":[],"produces":["application/json","text/json","text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Falconetix.Model.AccountEmailFiltersDescriptor"}}}},"put":{"tags":["Account"],"operationId":"Account_UpdateEmailFilters","consumes":["application/json","text/json","text/html","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/Falconetix.Model.AccountEmailFiltersDescriptor"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Account"],"operationId":"Account_DeleteAccountEmailFilters","consumes":[],"produces":[],"responses":{"204":{"description":"No Content"}}}},"/v2/account":{"get":{"tags":["Account"],"operationId":"Account_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AccountViewModel"}}}}},"/v2/accountlimitation/clarityentriescount":{"put":{"tags":["AccountLimitation"],"operationId":"AccountLimitation_ClarityEntriesCount","consumes":[],"produces":[],"responses":{"204":{"description":"No Content"}}}},"/v2/AccountPollingInterval/{id}":{"put":{"tags":["AccountPollingInterval"],"operationId":"AccountPollingInterval_Update","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"updateRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.BL.Services.PollingInterval.UpdatePollingIntervalRequestViewModel"}}],"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["AccountPollingInterval"],"operationId":"AccountPollingInterval_Delete","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/v2/AccountPollingInterval":{"get":{"tags":["AccountPollingInterval"],"operationId":"AccountPollingInterval_GetAll","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.AccountPollingInterval.PollingIntervalViewModel"}}}}},"post":{"tags":["AccountPollingInterval"],"operationId":"AccountPollingInterval_Add","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"pollingInterval","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.AccountPollingInterval.CreatePollingIntervalViewModel"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/account-registration/invite":{"post":{"tags":["AccountRegistration"],"operationId":"AccountRegistration_PostInvite","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.AccountRegistration.AccountRegistrationWebViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/account-registration/verify/{registrationRequestId}":{"get":{"tags":["AccountRegistration"],"operationId":"AccountRegistration_GetVerify","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"registrationRequestId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.AccountRegistration.AccountRegistrationGetViewModel"}}}}},"/v2/account-registration/sign-up":{"post":{"tags":["AccountRegistration"],"operationId":"AccountRegistration_PostSignUp","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/Falconetix.Model.Account.AccountRegistrationSignUpViewModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.AccountRegistration.AccountRegistrationGetViewModel"}}}}},"/v2/AccountTrust/assumable-roles":{"get":{"tags":["AccountTrust"],"summary":"Get a list of objects that represent a trusted account and its assumebale roles","operationId":"AccountTrust_GetAssumableRoles","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Account.AccountTrustAssumableRolesViewModel"}}}}}},"/v2/AccountTrust":{"get":{"tags":["AccountTrust"],"summary":"Get a list of accounts which are trusted by or trust this account according to the given \"trustDirection\"","operationId":"AccountTrust_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"trustDirection","in":"query","description":"Determines whether the accounts result list are the trusted/trustee accounts","required":true,"type":"string","enum":["MyAccountIsTarget","MyAccountIsSource"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Account.AccountTrustViewModel"}}}}},"post":{"tags":["AccountTrust"],"summary":"Create a new account trust where this account is the target based on the given \"SourceAccountId\", i.e. this account trusts the source account","operationId":"AccountTrust_Post","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Account.AccountTrustPostViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/AccountTrust/{id}":{"put":{"tags":["AccountTrust"],"summary":"Update the account trust description or restrictions","operationId":"AccountTrust_Put","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Account trust id","required":true,"type":"string","format":"uuid"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Account.AccountTrustPutViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["AccountTrust"],"summary":"Delete an account trust","operationId":"AccountTrust_Delete","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The trust id","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/api/Agent/{id}/sec-groups":{"post":{"tags":["Agent"],"operationId":"Agent_AttachGroupToAgent","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Agent"],"operationId":"Agent_DetachGroupFromAgent","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/Agent/{id}/sec-groups":{"post":{"tags":["Agent"],"operationId":"Agent_AttachGroupToAgent","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Agent"],"operationId":"Agent_DetachGroupFromAgent","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AgentSecurityGroupAttachDetachViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Agent/{id}/start-fim-scan":{"post":{"tags":["Agent"],"operationId":"Agent_StartFIMScan","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"}}}},"/v2/Agent/{id}/start-fim-scan":{"post":{"tags":["Agent"],"operationId":"Agent_StartFIMScan","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"}}}},"/v2/Agent":{"get":{"tags":["Agent"],"operationId":"Agent_GetAll","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"forAccess","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Models.AgentViewModel"}}}}}},"/v2/Agent/{id}":{"get":{"tags":["Agent"],"operationId":"Agent_Get","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AgentViewModel"}}}},"delete":{"tags":["Agent"],"operationId":"Agent_DeleteAgent","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"}}}},"/v2/workload/agentless/aws/accounts/{id}/enable":{"post":{"tags":["Agentless"],"summary":"Enable AWP AWS account","operationId":"Agentless_EnableAwsAccount","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"accountRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AddAgentlessAwsAccountRequestBody"}},{"name":"shouldCreatePolicy","in":"query","description":"A flag indicating weather to create a default policy","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/workload/agentless/azure/accounts/{id}/enable":{"post":{"tags":["Agentless"],"summary":"Enable AWP Azure account","operationId":"Agentless_EnableAzureAccount","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/subscription Id)","required":true,"type":"string"},{"name":"accountRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AddAgentlessAzureAccountRequestBody"}},{"name":"shouldCreatePolicy","in":"query","description":"A flag indicating weather to create a default policy","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/workload/agentless/aws/accounts/{id}/enableCentralizedAccount":{"post":{"tags":["Agentless"],"summary":"Add AWP AWS Centralized account","operationId":"Agentless_AddAwsCentralizedAccount","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"accountRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AddAgentlessAwsCentralizedAccountRequestBody"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/workload/agentless/azure/accounts/{id}/enableCentralizedAccount":{"post":{"tags":["Agentless"],"summary":"Add AWP Azure Centralized account","operationId":"Agentless_AddAzureCentralizedAccount","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"accountRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AddAgentlessAzureCentralizedAccountRequestBody"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/workload/agentless/aws/accounts/{id}/enableSubAccount":{"post":{"tags":["Agentless"],"summary":"Add AWP AWS Sub account","operationId":"Agentless_AddAwsSubAccount","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"accountRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AddAgentlessAwsSubAccountRequestBody"}},{"name":"shouldCreatePolicy","in":"query","description":"A flag indicating weather to create a default policy","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/workload/agentless/azure/accounts/{id}/enableSubAccount":{"post":{"tags":["Agentless"],"summary":"Add AWP Azure Sub account","operationId":"Agentless_AddAzureSubAccount","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"accountRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AddAgentlessAzureSubAccountRequestBody"}},{"name":"shouldCreatePolicy","in":"query","description":"A flag indicating weather to create a default policy","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/workload/agentless/{cloudProvider}/accounts/states":{"get":{"tags":["Agentless"],"summary":"Get current AWP accounts states","operationId":"Agentless_GetAccountsStates","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"cloudProvider","in":"path","description":"Cloud provider","required":true,"type":"string","enum":["aws","azure"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AccountStateViewModel"}}}}}},"/v2/workload/agentless/{cloudProvider}/accounts/states/{id}":{"get":{"tags":["Agentless"],"summary":"Get AWP account state","operationId":"Agentless_GetAccountState","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"cloudProvider","in":"path","description":"Cloud provider","required":true,"type":"string","enum":["aws","azure"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AccountStateViewModel"}}}}},"/v2/workload/agentless/{cloudProvider}/accounts/{id}":{"get":{"tags":["Agentless"],"summary":"Get AWP account scanner configuration","operationId":"Agentless_GetAccount","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"cloudProvider","in":"path","description":"Cloud provider","required":true,"type":"string","enum":["aws","azure"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AccountViewModel"}}}}},"/v2/workload/agentless/{cloudProvider}/accounts/{id}/settings":{"patch":{"tags":["Agentless"],"summary":"Modify a single AWP account scanner settings (supported for inAccount and Saas scan mode)","operationId":"Agentless_ModifyAccountSettings","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"putAccountSettingsRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AgentlessAccountSettingsViewModel"}},{"name":"cloudProvider","in":"path","description":"Cloud provider","required":true,"type":"string","enum":["aws","azure"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/workload/agentless/{cloudProvider}/accounts/{id}/centralizedAccountSettings":{"patch":{"tags":["Agentless"],"summary":"Modify a single AWP centralized account scanner settings","operationId":"Agentless_ModifyCentralizedAccountSettings","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"putAccountSettingsRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AgentlessCentralizedAccountSettingsViewModel"}},{"name":"cloudProvider","in":"path","description":"Cloud provider","required":true,"type":"string","enum":["aws","azure"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/workload/agentless/aws/accounts/{id}":{"delete":{"tags":["Agentless"],"summary":"Disable AWS account","operationId":"Agentless_DisableAwsAccount","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"forceDelete","in":"query","description":"If 'True', AWP will be disabled and the API will skip validating resource removal from the customer account.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/workload/agentless/azure/accounts/{id}":{"delete":{"tags":["Agentless"],"summary":"Disable Azure account","operationId":"Agentless_DisableAzureAccount","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/workload/agentless/aws/instances/{id}":{"get":{"tags":["Agentless"],"summary":"Get AWP workload scan details","operationId":"Agentless_GetWorkload","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","description":"Instance Id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AgentlessInstanceViewModel"}}}}},"/v2/workload/agentless/aws/accounts/{id}/generate-onboarding-data":{"post":{"tags":["Agentless"],"summary":"Generate Aws onboarding data","operationId":"Agentless_GenerateAwsOnboardingData","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.GenerateAgentlessAwsOnboardingDataRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AgentlessAwsOnboardingDataViewModel"}}}}},"/v2/workload/agentless/azure/accounts/{id}/generate-onboarding-data":{"post":{"tags":["Agentless"],"summary":"Generate Azure onboarding data","operationId":"Agentless_GenerateAzureOnboardingData","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.GenerateAgentlessAzureOnboardingDataRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AgentlessAzureOnboardingDataViewModel"}}}}},"/v2/workload/agentless/azure/accounts/{id}/offboarding":{"get":{"tags":["Agentless"],"summary":"Get Azure offboarding data","operationId":"Agentless_GetAzureOffboardingData","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"centralizedId","in":"query","description":"In case of inAccountSub, the account id of the centralized account","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AgentlessAzureOffboardingDataViewModel"}}}}},"/v2/workload/agentless/{cloudProvider}/accounts/{id}/onboarding/checkForUpdate":{"get":{"tags":["Agentless"],"summary":"Check if the AWP account needs to be updated","operationId":"Agentless_CheckForOnboardingUpdate","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"},{"name":"cloudProvider","in":"path","description":"Cloud provider","required":true,"type":"string","enum":["aws","azure"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AgentlessAwsValidateStackDataViewModel"}}}}},"/v2/workload/agentless/azure/accounts/{id}/centralizedAccounts":{"get":{"tags":["Agentless"],"summary":"Get Azure centralized accounts data","operationId":"Agentless_GetAzureCentralizedAccounts","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Cloud account Id (CloudGuard/external Id)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.CentralizedAzureAccountViewModel"}}}}}},"/v2/workload/agentless/accountSettings":{"get":{"tags":["Agentless"],"summary":"Get all AWP accounts scanner settings","operationId":"Agentless_GetTenantSettings","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AgentlessSettingsViewModel"}}}},"patch":{"tags":["Agentless"],"summary":"Modify all AWP accounts scanner settings","operationId":"Agentless_ModifyTenantSettings","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"putTenantSettingsRequestBody","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Agentless.AgentlessSettingsViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/alert/severity":{"put":{"tags":["Alert"],"operationId":"Alert_UpdateAlertSeverity","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"severity","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AlertsPartialUpdateViewModel[Falconetix.Model.WarningSeverity]"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/alert/acknowledged":{"put":{"tags":["Alert"],"operationId":"Alert_UpdateAlertAcknowledged","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"acknowledged","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AlertsPartialUpdateViewModel[System.Boolean]"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/alert/comment":{"put":{"tags":["Alert"],"operationId":"Alert_UpdateAlertComment","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"comment","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AlertsPartialUpdateViewModel[System.String]"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/alert/count":{"get":{"tags":["Alert"],"operationId":"Alert_GetCount","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"srl","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AlertsCountViewModel"}}}}},"/v2/alert/data":{"post":{"tags":["Alert"],"operationId":"Alert_GetAlertsDataAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.GetDataParms[System.Object]"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/alert/export":{"post":{"tags":["Alert"],"operationId":"Alert_TriggerExportAsync","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}}},"/v2/alert/export/{workflowGuid}/status":{"get":{"tags":["Alert"],"operationId":"Alert_GetExportStatusAsync","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"workflowGuid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Alerts.ExportStatusModel.ExportStatusInfo"}}}}},"/v2/alert/export/{workflowGuid}/data":{"get":{"tags":["Alert"],"operationId":"Alert_GetExportedDataUrlAsync","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"workflowGuid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/Alert":{"get":{"tags":["Alert"],"summary":"Get multiple alerts.\r\nBy default it will also return acknowledged alerts and FIM alerts.\r\nTo reduce the returned set - use a filter.","operationId":"Alert_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"filter.getFim","in":"query","required":false,"type":"boolean"},{"name":"filter.getAcknowledged","in":"query","required":false,"type":"boolean"},{"name":"filter.alertTypes","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"filter.sgExternalId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Models.AlertViewModel"}}}}}},"/v2/Alert/{id}":{"get":{"tags":["Alert"],"summary":"Get a single alert by Id","operationId":"Alert_Get","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AlertViewModel"}}}},"patch":{"tags":["Alert"],"operationId":"Alert_Patch","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AlertPatchViewModel"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/AlibabaCloudAccount/{id}/DeleteForce":{"delete":{"tags":["AlibabaCloudAccount"],"summary":"Delete an Alibaba account from a Dome9 account (the Alibaba account is not deleted from Alibaba) and linked entities","operationId":"AlibabaCloudAccount_DeleteForceAsync","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"the Dome9 account id for the account or the Subscription id","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/v2/AlibabaCloudAccount/{cloudAccountId}/account-stats":{"get":{"tags":["AlibabaCloudAccount"],"summary":"Gets Cloud Account network statistics on cloud account page","operationId":"AlibabaCloudAccount_GetCloudAccountStatsAsync","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"cloudAccountId","in":"path","description":"The Id of the Alibaba cloud account","required":true,"type":"string","format":"uuid"},{"name":"withData","in":"query","description":"Include raw data of networks, security groups and vms, default = false","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaAccountStatsViewModel"}}}}},"/v2/AlibabaCloudAccount/MissingPermissions":{"get":{"tags":["AlibabaCloudAccount"],"summary":"Get a list of missing permissions (needed by Dome9 to manage the accounts) for all Alibaba accounts in Dome9","operationId":"AlibabaCloudAccount_GetMissingPermissions","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsViewModel"}}}}}},"/v2/AlibabaCloudAccount/{id}/MissingPermissions":{"get":{"tags":["AlibabaCloudAccount"],"summary":"Get a list of missing permissions for a specific account. These permissions are needed by Dome9 to manage accounts.","operationId":"AlibabaCloudAccount_GetMissingPermissionsAsync","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"string","format":"uuid"},{"name":"showIgnored","in":"query","description":"","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsIgnorableViewModel"}}}},"put":{"tags":["AlibabaCloudAccount"],"summary":"Get a list of missing permissions for a specific account. These are permissions needed by Dome9 to manage accounts.","operationId":"AlibabaCloudAccount_UpdateIgnorableMissingPermissionsAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"id","in":"path","description":"CloudAccountId","required":true,"type":"string","format":"uuid"},{"name":"permissionsToIgnoreOrRestore","in":"body","description":"List of permissions to set ignore or restore flag to","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel"}}}],"responses":{"204":{"description":"No Content"}}}},"/v2/AlibabaCloudAccount/{id}/MissingPermissions/EntityType":{"get":{"tags":["AlibabaCloudAccount"],"summary":"Get missing permissions for a specific entity type for a specific Alibaba Cloud account","operationId":"AlibabaCloudAccount_GetMissingPermissionsByEntityTypeAsync","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The Dome9 Alibaba Cloud Account Id","required":true,"type":"string","format":"uuid"},{"name":"entityType","in":"query","description":"The entity type for which to get permission issues","required":true,"type":"string"},{"name":"subType","in":"query","description":"","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Shared.Permissions.MissingPermissionViewModel"}}}}}},"/v2/AlibabaCloudAccount/{id}/MissingPermissions/Reset":{"put":{"tags":["AlibabaCloudAccount"],"summary":"Reset (re-validate) a Alibaba Cloud account credentials in Dome9. \r\nWill cause all entities to retry fetching from the Alibaba cloud account.","operationId":"AlibabaCloudAccount_ResetMissingPermissionsAsync","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"the account id","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/v2/AlibabaCloudAccount/{id}/AccountName":{"put":{"tags":["AlibabaCloudAccount"],"summary":"Update a Alibaba Cloud account name (as it appears in Dome9)","operationId":"AlibabaCloudAccount_UpdateAccountNameAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","description":"the account id","required":true,"type":"string","format":"uuid"},{"name":"name","in":"body","description":"the updated name as it will appear in Dome9","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaAccountNameViewModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"}}}}},"/v2/AlibabaCloudAccount/{id}/Credentials":{"put":{"tags":["AlibabaCloudAccount"],"operationId":"AlibabaCloudAccount_UpdateAlibabaCloudAccountCredentialsAsync","consumes":["application/json","text/json","text/html","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"credentials","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaAccountCredentialsViewPostModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"}}}}},"/v2/AlibabaCloudAccount/{id}/SyncNow":{"post":{"tags":["AlibabaCloudAccount"],"operationId":"AlibabaCloudAccount_SyncNow","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"}}}}},"/v2/AlibabaCloudAccount/{id}/organizationalUnit":{"put":{"tags":["AlibabaCloudAccount"],"summary":"Update the ID of the Organizational Unit that this cloud account will be attached to.\r\nUse 'null' for the root organizational unit","operationId":"AlibabaCloudAccount_UpdateOrganizationalId","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","description":"The Dome9 Guid ID of the Alibaba cloud account","required":true,"type":"string","format":"uuid"},{"name":"updateData","in":"body","description":"The Guid ID of the Organizational Unit to attach to. Use 'null' to attach to the root Organizational Unit","required":true,"schema":{"$ref":"#/definitions/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"}}}}},"/v2/AlibabaCloudAccount/organizationalUnit/move":{"put":{"tags":["AlibabaCloudAccount"],"summary":"Detach cloud accounts from an Organizational unit and attach them to another Organizational unit.\r\nUse 'null' for root organizational unit","operationId":"AlibabaCloudAccount_MoveCloudAccountsToOrganizationalUnit","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"moveData","in":"body","description":"The guids of the source organizational unit to detach from and the target organizational unit to attach to. Use null for root organizational unit.","required":true,"schema":{"$ref":"#/definitions/Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/AlibabaCloudAccount/organizationalUnit/moveAll":{"put":{"tags":["AlibabaCloudAccount"],"summary":"Detach all cloud accounts from their current organizational unit and attach them to a new one. Default is to root organizational unit","operationId":"AlibabaCloudAccount_MoveAllCloudAccountsToOrganizationalUnit","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"updateData","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/AlibabaCloudAccount/organizationalUnit/attach":{"post":{"tags":["AlibabaCloudAccount"],"summary":"Attach several cloud accounts to a specific Organizational Unit. User 'null' as root Organizational Unit as target","operationId":"AlibabaCloudAccount_PostAttachMulti","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"attachData","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/AlibabaCloudAccount":{"get":{"tags":["AlibabaCloudAccount"],"summary":"Get a list of all Alibaba cloud accounts","operationId":"AlibabaCloudAccount_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"}}}}},"post":{"tags":["AlibabaCloudAccount"],"summary":"Add (onboard) a new Alibaba cloud account to Dome9","operationId":"AlibabaCloudAccount_Post","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"model","in":"body","description":"details for the new account","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountPostViewModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"}}}}},"/v2/AlibabaCloudAccount/{id}":{"get":{"tags":["AlibabaCloudAccount"],"summary":"Get details for a specific Alibaba Cloud Account","operationId":"AlibabaCloudAccount_Get","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","description":"the Alibaba cloud account id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"}}}},"delete":{"tags":["AlibabaCloudAccount"],"summary":"Delete an Alibaba account from a Dome9 account (the Alibaba account is not deleted from Alibaba)","operationId":"AlibabaCloudAccount_Delete","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"the Dome9 account id for the account or the Subscription id","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/v2/application/menu":{"get":{"tags":["Application"],"operationId":"Application_Menu","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AppMenuViewModel"}}}}},"/v2/application/d9awsaccount":{"get":{"tags":["Application"],"operationId":"Application_D9AccountInfo","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AppD9AccountViewModel"}}}}},"/v2/application/intercom":{"get":{"tags":["Application"],"operationId":"Application_GetIntercomData","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AppIntercomViewModel"}}}}},"/v2/assessment/bundleV2":{"post":{"tags":["Assessment"],"summary":"Run an assessment on a cloud environment using a bundle (V2)","operationId":"Assessment_RunBundleV2Async","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"assReq","in":"body","description":"The assessment request block","required":true,"schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.Assessment.AssessmentBundleRequestViewModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.Assessment.AssessmentResultViewModel[Newtonsoft.Json.Linq.JRaw]"}}}}},"/v2/AssessmentHistory/bundle":{"get":{"tags":["AssessmentHistory"],"operationId":"AssessmentHistory_GetResults","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","required":true,"type":"integer","format":"int64"},{"name":"lastTime","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.AssessmentHistoryResultViewModel"}}}}}},"/v2/AssessmentHistory/view":{"get":{"tags":["AssessmentHistory"],"operationId":"AssessmentHistory_GetResultViewsAsync","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"lastTime","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.AssessmentHistoryViewResultViewModel"}}}}}},"/v2/AssessmentHistory":{"get":{"tags":["AssessmentHistory"],"operationId":"AssessmentHistory_GetResults","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"lastTime","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.AssessmentHistoryResultViewModel"}}}}},"delete":{"tags":["AssessmentHistory"],"operationId":"AssessmentHistory_DeleteHistoryAsync","consumes":[],"produces":[],"parameters":[{"name":"historyId","in":"query","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"No Content"}}}},"/v2/AssessmentHistory/{id}":{"get":{"tags":["AssessmentHistory"],"operationId":"AssessmentHistory_GetHistory","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.AssessmentHistoryResultViewModel"}}}}},"/v2/AssessmentHistoryV2/bundleResults":{"get":{"tags":["AssessmentHistoryV2"],"summary":"Get most recent assessment results for a specific bundle, for a list of cloud accounts","operationId":"AssessmentHistoryV2_GetBundleResults","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"bundleId","in":"query","description":"the bundle used for the assessment (for all the accounts in the list)","required":true,"type":"integer","format":"int64"},{"name":"cloudAccountIds","in":"query","description":"comma separated list of cloud accounts","required":true,"type":"string"},{"name":"fromTime","in":"query","description":"the time the assessment was done","required":true,"type":"string","format":"date-time"},{"name":"epsilonInMinutes","in":"query","description":"period of time (in min) back from the fromTime to look for results; only results in this range will be returned","required":false,"type":"integer","format":"int64"},{"name":"requestId","in":"query","description":"an optional request id; the same value will appear in the response","required":false,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel[Newtonsoft.Json.Linq.JRaw]"}}}}}},"/v2/AssessmentHistoryV2/assessmentTrendOrganizationalUnit":{"get":{"tags":["AssessmentHistoryV2"],"summary":"Get the assessment trend for the selected time range (maximum of 93 days)","operationId":"AssessmentHistoryV2_GetAssessmentTrendOrganizationalUnit","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"rulesetId","in":"query","description":"Ruleset ID","required":true,"type":"integer","format":"int64"},{"name":"organizationalUnitId","in":"query","description":"Organizational Unit ID","required":true,"type":"string","format":"uuid"},{"name":"from","in":"query","description":"From Date","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"To Date","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel"}}}}}},"/v2/AssessmentHistoryV2/assessmentTrendV2":{"get":{"tags":["AssessmentHistoryV2"],"summary":"Get the assessment trend for the selected time range (maximum of 93 days)","operationId":"AssessmentHistoryV2_GetAssessmentTrendV2","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"bundleId","in":"query","description":"Bundle ID","required":true,"type":"integer","format":"int64"},{"name":"cloudAccountId","in":"query","description":"Cloud Account ID","required":true,"type":"string","format":"uuid"},{"name":"from","in":"query","description":"From Date","required":true,"type":"string","format":"date-time"},{"name":"to","in":"query","description":"To Date","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.Compliance.AssessmentTrend.AssessmentTrendItemViewModel"}}}}}},"/v2/AssessmentHistoryV2/LastAssessmentResults/view":{"post":{"tags":["AssessmentHistoryV2"],"summary":"Get last assessment results for selected cloud accounts and bundles. Does not return details for the tests or test entities.","operationId":"AssessmentHistoryV2_GetLastAssessmentResultsView","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"assessmentsRequestFilter","in":"body","description":"block that specifies the accounts and bundles","required":true,"schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel"}}}}}},"/v2/AssessmentHistoryV2/LastAssessmentResults":{"post":{"tags":["AssessmentHistoryV2"],"summary":"Get last assessment results for selected cloud accounts and bundles. Includes details of tests and test entities.","operationId":"AssessmentHistoryV2_GetLastAssessmentResults","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"assessmentsRequestFilter","in":"body","description":"block that specifies the accounts and bundles","required":true,"schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel[Newtonsoft.Json.Linq.JRaw]"}}}}}},"/v2/AssessmentHistoryV2/LastAssessmentResults/minimized":{"post":{"tags":["AssessmentHistoryV2"],"summary":"Get last assessment results for selected cloud accounts and bundles as Minimized Entity.","operationId":"AssessmentHistoryV2_GetLastAssessmentResultsMini","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"assessmentsRequestFilter","in":"body","description":"block that specifies the accounts and bundles","required":true,"schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.Entities.AssessmentsRequestFilterViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel[Falconetix.Model.RuleEngine.Entities.AssessmentHistoryMinimizedEntity]"}}}}}},"/v2/AssessmentHistoryV2/ExecutiveReport/{vendor}/{rulesetId}":{"get":{"tags":["AssessmentHistoryV2"],"summary":"Get an executive report of assessments for the selected ruleset and platform","operationId":"AssessmentHistoryV2_GetLastAssessmentResultsMiniToExecutiveSummary","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"vendor","in":"path","description":"Platform","required":true,"type":"string","enum":["aws","hp","mellanox","awsgov","azure","google","awschina","azuregov","kubernetes","azurechina","terraform","generic","kubernetesruntimeassurance","shiftleft","sourcecodeassurance","imageassurance","alibaba","cft","containerregistry","oci","ocigov","ocigovuk","CIEM"]},{"name":"rulesetId","in":"path","description":"Ruleset ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.Entities.AssessmentExecutiveReport"}}}}},"/v2/AssessmentHistoryV2/ExecutiveReport/email/{vendor}/{rulesetId}":{"post":{"tags":["AssessmentHistoryV2"],"summary":"Send email with link to s3 bucket to the Executive Report","operationId":"AssessmentHistoryV2_SendExecutiveReportCSVByEmail","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"vendor","in":"path","description":"vendor","required":true,"type":"string","enum":["aws","hp","mellanox","awsgov","azure","google","awschina","azuregov","kubernetes","azurechina","terraform","generic","kubernetesruntimeassurance","shiftleft","sourcecodeassurance","imageassurance","alibaba","cft","containerregistry","oci","ocigov","ocigovuk","CIEM"]},{"name":"rulesetId","in":"path","description":"rulesetId","required":true,"type":"integer","format":"int64"},{"name":"recipients","in":"body","description":"Emails","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}}},"/v2/AssessmentHistoryV2/{assessmentId}/ExecutiveReport/csv":{"get":{"tags":["AssessmentHistoryV2"],"summary":"Get a csv executive report of assessment","operationId":"AssessmentHistoryV2_GetAssessmentExecutiveReportCSV","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"assessmentId","in":"path","description":"AssessmentId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/AssessmentHistoryV2/OrganizationalUnitsLastAssessmentStatistics":{"post":{"tags":["AssessmentHistoryV2"],"summary":"Get last assessment statistics for selected Organizational Units and bundles.","operationId":"AssessmentHistoryV2_GetOrganizationalUnitsLastAssessmentStatistics","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"organizationalUnitAssessmentHistoryRequestModel","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.Entities.OrganizationalUnitAssessmentHistoryViewModel"}}}}}},"/v2/AssessmentHistoryV2/view/timeRange":{"post":{"tags":["AssessmentHistoryV2"],"summary":"Get assessment history (list of assessments) for specified time range and filters","operationId":"AssessmentHistoryV2_FindResultViewsByTimeRangeAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"request","in":"body","description":"details of the results to get (filters, time range)","required":true,"schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentViewsByTimeRangeRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessnentHistoryViewResultsTimeRangeViewModel"}}}}},"/v2/AssessmentHistoryV2/view/{id}":{"get":{"tags":["AssessmentHistoryV2"],"summary":"Get result statistics for a specific assessment","operationId":"AssessmentHistoryV2_GetViewHistoryAsync","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The ID of the assessment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryViewResultV2ViewModel"}}}}},"/v2/AssessmentHistoryV2/csv/{assessmentResultId}":{"get":{"tags":["AssessmentHistoryV2"],"summary":"Get assessment result CSV","operationId":"AssessmentHistoryV2_GetAssessmentResultCsv","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"assessmentResultId","in":"path","description":"Assessment result ID","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/AssessmentHistoryV2/{id}":{"get":{"tags":["AssessmentHistoryV2"],"summary":"Get results for a specific assessment","operationId":"AssessmentHistoryV2_GetHistoryAsync","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","description":"the id of the assessment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Falconetix.Model.RuleEngine.ViewModels.AssessmentHistory.V2.AssessmentHistoryResultV2ViewModel[Newtonsoft.Json.Linq.JRaw]"}}}}},"/v2/AssessmentHistoryV2":{"delete":{"tags":["AssessmentHistoryV2"],"summary":"Delete an assessment","operationId":"AssessmentHistoryV2_DeleteHistoryAsync","consumes":[],"produces":[],"parameters":[{"name":"historyId","in":"query","description":"the id of the assessment","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"No Content"}}}},"/v2/audit/event-types":{"get":{"tags":["Audit"],"summary":"Get a list of available audit event types","operationId":"Audit_GetEventTypes","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"/v2/audit/awsgroup/{groupId}":{"get":{"tags":["Audit"],"summary":"Get audit events for a specific AWS Security Group","operationId":"Audit_GetAuditEventsForAwsSecGroup","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"groupId","in":"path","description":"the Security Group id","required":true,"type":"integer","format":"int64"},{"name":"startTimestamp","in":"query","description":"the time of the first event to be fetched","required":false,"type":"string","format":"date-time"},{"name":"endTimestamp","in":"query","description":"the time of the last event to be fetched","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Models.AuditEntryViewModel"}}}}}},"/v2/audit/export":{"get":{"tags":["Audit"],"summary":"Export an audit events report in a csv format","operationId":"Audit_GetExport","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"startTimestamp","in":"query","description":"the time of the first event to be exported in the report","required":false,"type":"string","format":"date-time"},{"name":"endTimestamp","in":"query","description":"the time of the last event to be exported in the report","required":false,"type":"string","format":"date-time"},{"name":"userNameFilter","in":"query","description":"only events for this specific user will be exported","required":false,"type":"string"},{"name":"eventType","in":"query","description":"only events of this specific type will be exported","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/audit/row-data-api":{"get":{"tags":["Audit"],"summary":"get api events audit row data","operationId":"Audit_GetRowDataApi","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"startTimestamp","in":"query","description":"the time of the first event  in the report- Epoch time in milliseconds","required":false,"type":"string"},{"name":"endTimestamp","in":"query","description":"the time of the last event in the report - Epoch time in milliseconds","required":false,"type":"string"},{"name":"filter","in":"query","description":"qsl query filter","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.Audit.ApiAuditResult"}}}}}},"/v2/audit/row-data-system":{"get":{"tags":["Audit"],"summary":"get system events audit row data","operationId":"Audit_GetRowDataSystem","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"startTimestamp","in":"query","description":"the time of the first event  in the report - Epoch time in milliseconds","required":false,"type":"string"},{"name":"endTimestamp","in":"query","description":"the time of the last event in the report - Epoch time in milliseconds","required":false,"type":"string"},{"name":"filter","in":"query","description":"qsl query filter","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.Audit.SystemAuditResult"}}}}}},"/v2/audit/data-count":{"get":{"tags":["Audit"],"summary":"get row data result count by type api/system","operationId":"Audit_GetRowDataCount","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"startTimestamp","in":"query","description":"the time of the first event  in the report - Epoch time in milliseconds","required":false,"type":"string"},{"name":"endTimestamp","in":"query","description":"the time of the last event in the report- Epoch time in milliseconds","required":false,"type":"string"},{"name":"filter","in":"query","description":"qsl query filter","required":false,"type":"string"},{"name":"eventType","in":"query","description":"system events or api events","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Falconetix.Model.Audit.CountAuditResult"}}}}},"/v2/Audit":{"get":{"tags":["Audit"],"summary":"Get audit events with optional filters","operationId":"Audit_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"pageNum","in":"query","description":"page # in the sequence of audit pages","required":true,"type":"integer","format":"int32"},{"name":"eventsPerPage","in":"query","description":"no. of audit events in the page","required":true,"type":"integer","format":"int32"},{"name":"startTimestamp","in":"query","description":"the time of first audit to be fetched","required":false,"type":"string","format":"date-time"},{"name":"endTimestamp","in":"query","description":"the time of the last audit to be fetched","required":false,"type":"string","format":"date-time"},{"name":"userName","in":"query","description":"only events for this specific user will be fetched","required":false,"type":"string"},{"name":"eventType","in":"query","description":"only events of this specific type will be fetched","required":false,"type":"string"},{"name":"fim","in":"query","description":"","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AuditViewModel"}}}}},"/v2/Audit/{id}":{"get":{"tags":["Audit"],"summary":"Get audit metadata","operationId":"Audit_GetAuditEventMetadata","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The audit event id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AuditEntryViewModel"}}}}},"/v2/auth/assume-role/jwt":{"post":{"tags":["Auth"],"operationId":"Auth_PostAssumeRoleForApi","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Auth.AssumeRoleViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/auth/assume-role/web":{"post":{"tags":["Auth"],"operationId":"Auth_PostAssumeRoleForWeb","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Auth.AssumeRoleViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/auth/reset-password-request":{"post":{"tags":["Auth"],"operationId":"Auth_PostResetPasswordRequestAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Auth.ResetPasswordRequestViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/auth/reset-password-request-by-email":{"post":{"tags":["Auth"],"summary":"request to reset password to a user without reCaptcha - ONLY to SuperUser","operationId":"Auth_PostResetPasswordRequestByEmailAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Auth.ResetPasswordByEmailRequestViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/auth/reset-password/{requestId}":{"get":{"tags":["Auth"],"operationId":"Auth_GetResetPassword","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"requestId","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Auth.ResetPasswordGetViewModel"}}}}},"/v2/auth/reset-password":{"post":{"tags":["Auth"],"operationId":"Auth_PostResetPassword","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Auth.ResetPasswordPostViewModel"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/auth/change-password":{"post":{"tags":["Auth"],"operationId":"Auth_PostChangePassword","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Auth.ChangePasswordViewModel"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/cloudaccounts/{id}/DeleteForce":{"delete":{"tags":["Aws Cloud Account"],"summary":"Delete an AWS cloud account and linked entities.","operationId":"CloudAccounts_DeleteForce","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The Dome9 AWS account id (UUID)","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/v2/cloudaccounts/name":{"put":{"tags":["Aws Cloud Account"],"summary":"Update an AWS cloud account name.","operationId":"CloudAccounts_UpdateCloudAccountName","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"accountName","in":"body","description":"the new name for the account","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel[System.String]"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/cloudaccounts/region-conf":{"put":{"tags":["Aws Cloud Account"],"summary":"Update an AWS cloud account region configuration.","operationId":"CloudAccounts_UpdateCloudAccountRegionConf","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"regionConf","in":"body","description":"updated Regional Configuration parameters for the account","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel[Dome9.Web.Api.Models.CloudAccountRegionConfigurationViewModel]"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/cloudaccounts/credentials":{"put":{"tags":["Aws Cloud Account"],"summary":"Update credentials for an AWS cloud account in Dome9.\r\nAt least one of the following properties must be provided: \"cloudAccountId\", \"externalAccountNumber\"","operationId":"CloudAccounts_UpdateCloudAccountCredentials","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"credentials","in":"body","description":"credentials block","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel[Dome9.Web.Api.Models.CloudAccountCredentialsViewModel]"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/cloudaccounts/MissingPermissions":{"get":{"tags":["Aws Cloud Account"],"summary":"Get a list of missing permissions for all accounts. These are permissions needed by Dome9 to manage accounts.","operationId":"CloudAccounts_GetMissingPermissionsAsync","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsViewModel"}}}}}},"/v2/cloudaccounts/{id}/MissingPermissions":{"get":{"tags":["Aws Cloud Account"],"summary":"Get a list of missing permissions for a specific account. These permissions are needed by Dome9 to manage accounts.","operationId":"CloudAccounts_GetMissingPermissionsAsync","consumes":[],"produces":["application/json","text/json","text/html"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"string","format":"uuid"},{"name":"showIgnored","in":"query","description":"","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsIgnorableViewModel"}}}},"put":{"tags":["Aws Cloud Account"],"summary":"Get a list of missing permissions for a specific account. These are permissions needed by Dome9 to manage accounts.","operationId":"CloudAccounts_UpdateIgnorableMissingPermissionsAsync","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"id","in":"path","description":"CloudAccountId","required":true,"type":"string","format":"uuid"},{"name":"permissionsToIgnoreOrRestore","in":"body","description":"List of permissions to set ignore or restore flag to","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel"}}}],"responses":{"204":{"description":"No Content"}}}},"/v2/cloudaccounts/{id}/MissingPermissions/EntityType":{"get":{"tags":["Aws Cloud Account"],"summary":"Get a list of missing permissions for a specific cloud entity type and cloud account","operationId":"CloudAccounts_GetMissingPermissionsByEntityTypeAsync","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The account id","required":true,"type":"string","format":"uuid"},{"name":"entityType","in":"query","description":"The entity type","required":true,"type":"string"},{"name":"subType","in":"query","description":"The entity subtype (optional)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Shared.Permissions.MissingPermissionViewModel"}}}}}},"/v2/cloudaccounts/{id}/CloudAccountHasAssumeRolePermissionIssue":{"get":{"tags":["Aws Cloud Account"],"summary":"check if the cloud account's role has permission issues or was deleted","operationId":"CloudAccounts_CloudAccountHasAssumeRolePermissionIssueAsync","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The account id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/v2/cloudaccounts/{id}/MissingPermissions/Reset":{"put":{"tags":["Aws Cloud Account"],"summary":"reset (re-validate) an account","operationId":"CloudAccounts_ResetMissingPermissionsAsync","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The account id","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/v2/cloudaccounts/{id}/SyncNow":{"post":{"tags":["Aws Cloud Account"],"summary":"Send a data sync command to immediately fetch cloud account data into Dome9's system caches.\r\nThis API is used in conjunction with EntityFetchStatus API resource to query the fetch status.\r\nRead more and see a full example here: https://github.com/Dome9/Python_API_SDK/blob/master/implementation/runSyncAssessment.md","operationId":"CloudAccounts_SyncNow","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The account id.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.AwsSyncNowResultViewModel"}}}}},"/v2/cloudaccounts/{id}/organizationalUnit":{"put":{"tags":["Aws Cloud Account"],"summary":"Update the ID of the Organizational Unit that this cloud account will be attached to.\r\nUse 'null' for the root Organizational Unit","operationId":"CloudAccounts_UpdateOrganizationalId","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The Dome9 Guid ID of the AWS cloud account","required":true,"type":"string","format":"uuid"},{"name":"updateData","in":"body","description":"The Guid ID of the Organizational Unit to attach to. Use 'null' to attach to the root Organizational Unit","required":true,"schema":{"$ref":"#/definitions/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.CloudAccountViewModel"}}}}},"/v2/cloudaccounts/organizationalUnit/move":{"put":{"tags":["Aws Cloud Account"],"summary":"Detach cloud accounts from an Organizational unit and attach them to another Organizational unit\r\nUse 'null' for root organizational unit","operationId":"CloudAccounts_MoveCloudAccountsToOrganizationalUnit","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"moveData","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/cloudaccounts/organizationalUnit/moveAll":{"put":{"tags":["Aws Cloud Account"],"summary":"Detach all cloud accounts from their current organizational unit and attach them to a new one. Default is to root organizational unit","operationId":"CloudAccounts_MoveAllCloudAccountsToOrganizationalUnit","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"updateData","in":"body","required":true,"schema":{"$ref":"#/definitions/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/cloudaccounts/organizationalUnit/attach":{"post":{"tags":["Aws Cloud Account"],"summary":"Attach several cloud accounts to a specific Organizational Unit. User 'null' as root Organizational Unit as target","operationId":"CloudAccounts_PostAttachMulti","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"attachData","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v2/CloudAccounts":{"get":{"tags":["Aws Cloud Account"],"summary":"Get all AWS cloud accounts","operationId":"CloudAccounts_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Models.CloudAccountViewModel"}}}}},"post":{"tags":["Aws Cloud Account"],"summary":"Add a new AWS cloud account to CloudGuard <br />\r\nOnboarding an AWS cloud account manually (legacy method) requires CloudGuard to obtain permissions to access the account.<br />\r\nFor more information, see the procedure on the onboarding with API on the Secure Knowledge center:<br /><a href=\"https://support.checkpoint.com/results/sk/sk147832\">How to onboard an AWS account to CloudGuard using the REST API</a>","operationId":"CloudAccounts_Post","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"data","in":"body","description":"The new AWS account data","required":true,"schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.CloudAccountViewModel"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.CloudAccountViewModel"}}}}},"/v2/CloudAccounts/{id}":{"get":{"tags":["Aws Cloud Account"],"summary":"Fetch a specific AWS cloud account","operationId":"CloudAccounts_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The Dome9 AWS account id (UUID) or the AWS external account number (12 digit number)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.Models.CloudAccountViewModel"}}}},"delete":{"tags":["Aws Cloud Account"],"summary":"Delete an AWS cloud account.","operationId":"CloudAccounts_Delete","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The Dome9 AWS account id (UUID)","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}}}},"/v2/AwsAppSync":{"get":{"tags":["AwsAppSync"],"operationId":"AwsAppSync_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.AwsAppSync.AwsAppSyncViewModel"}}}}}},"/v2/AwsBackupVault":{"get":{"tags":["AwsBackupVault"],"operationId":"AwsBackupVault_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.AwsBackupVault.AwsBackupVaultViewModel"}}}}}},"/v2/AwsConfigSettings":{"get":{"tags":["AwsConfigSettings"],"operationId":"AwsConfigSettings_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.AwsConfigSetting.AwsConfigSettingsViewModel"}}}}}},"/v2/AwsConfigSettings/{id}":{"get":{"tags":["AwsConfigSettings"],"operationId":"AwsConfigSettings_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.AwsConfigSetting.AwsConfigSettingsViewModel"}}}}},"/v2/AwsCustomerGateway":{"get":{"tags":["AwsCustomerGateway"],"operationId":"AwsCustomerGateway_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.CloudCustomerGateway.AwsCustomerGatewayViewModel"}}}}}},"/v2/AwsEcsTask":{"get":{"tags":["AwsEcsTask"],"operationId":"AwsEcsTask_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.CloudEcsTask.AwsEcsTaskViewModel"}}}}}},"/v2/AwsEks/GetByCloudAccount":{"get":{"tags":["AwsEks"],"operationId":"AwsEks_GetByCloudAccount","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"cloudAccountId","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel"}}}}}},"/v2/AwsEks":{"get":{"tags":["AwsEks"],"operationId":"AwsEks_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel"}}}}}},"/v2/AwsEks/{id}":{"get":{"tags":["AwsEks"],"operationId":"AwsEks_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.AwsEks.AwsEksClusterViewModel"}}}}},"/v2/AwsElasticIp":{"get":{"tags":["AwsElasticIp"],"operationId":"AwsElasticIp_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.AwsElasticIPViewModel"}}}}}},"/v2/AwsElasticsearchDomain":{"get":{"tags":["AwsElasticsearchDomain"],"operationId":"AwsElasticsearchDomain_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchDomainStatusViewModel"}}}}}},"/v2/AwsEmrCluster":{"get":{"tags":["AwsEmrCluster"],"operationId":"AwsEmrCluster_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterViewModel"}}}}}},"/v2/AwsEmrCluster/{id}":{"get":{"tags":["AwsEmrCluster"],"operationId":"AwsEmrCluster_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterViewModel"}}}}},"/v2/AwsInspectorFindings":{"get":{"tags":["AwsInspectorFindings"],"operationId":"AwsInspectorFindings_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"instanceId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.AwsInspectorFindingsViewModel"}}}}}},"/v2/AwsInspectorRuns":{"get":{"tags":["AwsInspectorRuns"],"operationId":"AwsInspectorRuns_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"instanceId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Falconetix.Model.AwsInspectorRunsViewModel"}}}}}},"/v2/AwsLoadBalancersNetworkInterfaces":{"get":{"tags":["AwsLoadBalancersNetworkInterfaces"],"summary":"Get all AWS Load Balancers with attached Network Interfaces","operationId":"AwsLoadBalancersNetworkInterfaces_Get","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Dome9.Web.Api.Models.AwsLoadBalancersNetworkInterfacesViewModel"}}}}}},"/v2/AwsOrganization/Organizations":{"get":{"tags":["AwsOrganizations"],"operationId":"AwsOrganizations_GetOrganizations","consumes":[]
[...]
